<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96eaf1c1-6b1f-4e82-8ecb-01e9d4648767" Alias="adminDashboard" Level="1">
  <Info>
    <Name>Admin Dashboard</Name>
    <Icon>icon-badge color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7bb3620a-4efa-49f7-9dce-dafda8386d64">AdminDashboard</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>