<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="36ef4e08-36be-4e92-80f4-495ca38e1811" Alias="changePasswordPage" Level="1">
  <Info>
    <Name>ChangePasswordPage</Name>
    <Icon>icon-keychain color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Resetting the User's Password</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cf895081-e9e3-4f42-86f3-a3996105ff3d">ChangePassword</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>