<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6a19d8d-bba9-4052-bad8-9f138887f7d8" Alias="clinicalResearchPage" Level="1">
  <Info>
    <Name>Clinical Research</Name>
    <Icon>icon-browser-window color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Clinical and Trial Research Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ee93459b-3321-409b-9887-192be5f6a928">ClinicalResearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0769d99f-e3ca-4653-b465-e920773a1743</Key>
      <Name>ResarchUpload</Name>
      <Alias>resarchUpload</Alias>
      <Definition>bc1e266c-dac4-4164-bf08-8a1ec6a7143d</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="researchFilesUpload">ResearchFilesUpload</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3b29dcf0-cc85-4223-a6bd-2c966b437f8a</Key>
      <Caption>ResearchFilesUpload</Caption>
      <Alias>researchFilesUpload</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>