<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02081940-4b2d-4627-9164-e3e27357cd55" Alias="generalInformation" Level="1">
  <Info>
    <Name>General Information</Name>
    <Icon>icon-book-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>CEIH Heart Failure Subcomittee - General Information</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="606e8ae5-f714-4724-8590-e95ada706e58">GeneralInfoPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="02081940-4b2d-4627-9164-e3e27357cd55" SortOrder="0">generalInformation</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>48488c57-3239-4d28-8338-202a330dc70b</Key>
      <Name>GeneralInfoImageCropper</Name>
      <Alias>generalInfoImageCropper</Alias>
      <Definition>567ae576-8aa1-48dc-9057-4061596fb119</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="gridLayout/settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5cf81ccb-7b7e-4837-b8aa-9eed0cca8fee</Key>
      <Name>Gen.Info Title</Name>
      <Alias>genInfoTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gridLayout/settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed75dbc8-e330-4b36-8a35-2620babfc510</Key>
      <Name>InfoLayout</Name>
      <Alias>infoLayout</Alias>
      <Definition>f2fa3a54-0fb7-42b4-96c5-f7fce2ebf877</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="gridLayout/settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4d0a2a94-e75e-402a-8fe3-183ec18568a1</Key>
      <Caption>Settings</Caption>
      <Alias>gridLayout/settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>6f65adc3-dfde-4712-af4f-f0faaea69690</Key>
      <Caption>Grid Layout</Caption>
      <Alias>gridLayout</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>