<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ecc22248-c5cb-4e92-8d31-f1883de2db03" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>CEIH Heart Failure Subcomittee - Home</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="31913862-b9dc-40ea-8c2a-a89973f2ef23">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="89d95501-ce27-403f-85e7-e2f28c3334d8" SortOrder="0">aboutUs</ContentType>
    <ContentType Key="02081940-4b2d-4627-9164-e3e27357cd55" SortOrder="1">generalInformation</ContentType>
    <ContentType Key="ecc22248-c5cb-4e92-8d31-f1883de2db03" SortOrder="2">homePage</ContentType>
    <ContentType Key="22869362-8fed-4f76-bf6d-ceebafeda738" SortOrder="3">settings</ContentType>
    <ContentType Key="c1584af8-6da3-4307-bb83-ce01e9748078" SortOrder="4">signIn</ContentType>
    <ContentType Key="7d2f1bdc-4b5a-410d-b8da-239cb1c14463" SortOrder="5">members</ContentType>
    <ContentType Key="036c8a92-e975-4d24-835b-2d31a4a8623f" SortOrder="6">contactUs</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>637f49d1-dbb0-4cba-8f00-e5334ac156e2</Key>
      <Name>Home Title</Name>
      <Alias>homeTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d98f767f-2a20-4fb1-8ebf-4939b072849d</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>