<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ecc22248-c5cb-4e92-8d31-f1883de2db03" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>CEIH Heart Failure Subcomittee - Home</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="31913862-b9dc-40ea-8c2a-a89973f2ef23">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="02081940-4b2d-4627-9164-e3e27357cd55" SortOrder="0">generalInformation</ContentType>
    <ContentType Key="ecc22248-c5cb-4e92-8d31-f1883de2db03" SortOrder="1">homePage</ContentType>
    <ContentType Key="22869362-8fed-4f76-bf6d-ceebafeda738" SortOrder="2">settings</ContentType>
    <ContentType Key="c1584af8-6da3-4307-bb83-ce01e9748078" SortOrder="3">signIn</ContentType>
    <ContentType Key="7d2f1bdc-4b5a-410d-b8da-239cb1c14463" SortOrder="4">members</ContentType>
    <ContentType Key="036c8a92-e975-4d24-835b-2d31a4a8623f" SortOrder="5">contactUs</ContentType>
    <ContentType Key="ac28ec0a-9622-403e-9c0f-da0566a53778" SortOrder="6">signUp</ContentType>
    <ContentType Key="18df11ee-93f6-403e-931e-287f86cb8f31" SortOrder="7">PatientPage</ContentType>
    <ContentType Key="9c016ff1-cf1e-4ef8-9a17-f93db61dd837" SortOrder="8">discussionForum</ContentType>
    <ContentType Key="b6a19d8d-bba9-4052-bad8-9f138887f7d8" SortOrder="9">clinicalResearchPage</ContentType>
    <ContentType Key="fdefe5ef-f957-4750-b49b-90f590738bab" SortOrder="10">guidelines</ContentType>
    <ContentType Key="7ca9f574-2d2d-4079-a28c-8f51ac261244" SortOrder="11">latestNews</ContentType>
    <ContentType Key="5e5558dd-1004-4c7a-be18-5ba23e52f56c" SortOrder="12">nearbyServices</ContentType>
    <ContentType Key="78bde517-891b-4bd6-a7a3-739f29eb01a5" SortOrder="13">survey</ContentType>
    <ContentType Key="36ef4e08-36be-4e92-80f4-495ca38e1811" SortOrder="14">changePasswordPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>637f49d1-dbb0-4cba-8f00-e5334ac156e2</Key>
      <Name>Home Title</Name>
      <Alias>homeTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d98f767f-2a20-4fb1-8ebf-4939b072849d</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>