<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18df11ee-93f6-403e-931e-287f86cb8f31" Alias="PatientPage" Level="1">
  <Info>
    <Name>PatientPage</Name>
    <Icon>icon-application-window color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5ae98183-174f-4788-961d-f09fc2b8f758">PatientPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>77c0383c-cb01-4d7f-aae0-385bb771e311</Key>
      <Name>PatientContent</Name>
      <Alias>patientContent</Alias>
      <Definition>f2fa3a54-0fb7-42b4-96c5-f7fce2ebf877</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content Section for patients]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="patientPage1">Patient Page</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4a36aea-edea-4223-a245-8986d5b7f56e</Key>
      <Name>PatientPage</Name>
      <Alias>registerUser</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="patientPage1">Patient Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6f1bb003-e4dc-4cf4-97c3-791e53e06135</Key>
      <Caption>Patient Page</Caption>
      <Alias>patientPage1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>