<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bd44899a-b77e-4bc7-8fbb-c9522e799ca0" Alias="profile" Level="2">
  <Info>
    <Name>Profile</Name>
    <Icon>icon-umb-users color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="bee5d6dc-43b2-45a4-b41d-06c53d591f25">forumAuthHolder</Parent>
    <Compositions>
      <Composition Key="bee5d6dc-43b2-45a4-b41d-06c53d591f25">forumAuthHolder</Composition>
    </Compositions>
    <DefaultTemplate>Profile</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="406354c9-8ccf-4afb-87f6-ac824f86e676">Profile</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>