<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37df6cfd-7490-4587-b594-1d75a7c7508e" Alias="register" Level="2">
  <Info>
    <Name>Register</Name>
    <Icon>icon-umb-members color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="bee5d6dc-43b2-45a4-b41d-06c53d591f25">forumAuthHolder</Parent>
    <Compositions>
      <Composition Key="bee5d6dc-43b2-45a4-b41d-06c53d591f25">forumAuthHolder</Composition>
    </Compositions>
    <DefaultTemplate>Register</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="038d5418-14eb-478f-8caa-725d564b00b4">Register</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8d127c03-b9cc-4929-9bcb-85bfed159fd0</Key>
      <Name>Default Membership</Name>
      <Alias>defaultMembership</Alias>
      <Definition>d1acd2f4-5ba8-440f-af31-e1ee16eb5fb6</Definition>
      <Type>Umbraco.MemberGroupPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Member groups to assign when registerring]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="defaults">Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e741304-9279-4f2f-a5d4-a5bb29a818de</Key>
      <Name>Domain Blacklist</Name>
      <Alias>domainBlacklist</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Do not allow these domains to register]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="defaults">Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf715589-4f44-448e-afb2-ac3d0bf25ca5</Key>
      <Name>Domain Whitelist</Name>
      <Alias>domainWhitelist</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="defaults">Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b80e7e79-6313-419b-bddd-696efb84135f</Key>
      <Name>Use Captcha</Name>
      <Alias>useCaptcha</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>23c42252-a512-46ca-86b6-ab86efbbce03</Key>
      <Caption>Defaults</Caption>
      <Alias>defaults</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>7b15aa4d-fb9a-4a1f-8f3b-d8c2231303e8</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>