<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e563b965-641d-4bf0-932c-af0922b06e27" Alias="reset" Level="2">
  <Info>
    <Name>Reset</Name>
    <Icon>icon-refresh color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="bee5d6dc-43b2-45a4-b41d-06c53d591f25">forumAuthHolder</Parent>
    <Compositions>
      <Composition Key="bee5d6dc-43b2-45a4-b41d-06c53d591f25">forumAuthHolder</Composition>
    </Compositions>
    <DefaultTemplate>Reset</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f81d1f8d-9c9e-4067-80e1-2495857f84df">Reset</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>daf37422-1826-437b-bb3e-059b0ce7da19</Key>
      <Name>PostMessage</Name>
      <Alias>postMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18b028dd-63c4-47d6-a7c3-3053ed458bcd</Key>
      <Name>Use Captcha</Name>
      <Alias>useCaptcha</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>177b3c5b-57ab-45b1-8aa3-ef89870d713e</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>