<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e36c0acf-53bd-44d7-9888-ab320523a318" Alias="verify" Level="2">
  <Info>
    <Name>Verify</Name>
    <Icon>icon-check color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="bee5d6dc-43b2-45a4-b41d-06c53d591f25">forumAuthHolder</Parent>
    <Compositions>
      <Composition Key="bee5d6dc-43b2-45a4-b41d-06c53d591f25">forumAuthHolder</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>