<?xml version="1.0" encoding="utf-8"?>
<Macro Key="36e8062f-55cb-41c5-8dab-7084651ad4ad" Alias="LatestForumPosts" Level="0">
  <Name>Latest Forum Posts</Name>
  <MacroSource>~/Views/MacroPartials/Latest Forum Posts.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Select starting page</Name>
      <Alias>startNodeId</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>