<?xml version="1.0" encoding="utf-8"?>
<Macro Key="cc75ad2a-f7e8-475b-993d-bf25342f4e5e" Alias="LogIn" Level="0">
  <Name>Log In</Name>
  <MacroSource>~/Views/MacroPartials/LogInPage.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>