<?xml version="1.0" encoding="utf-8"?>
<Macro Key="e060b17b-52b7-457e-96f9-95a25e1936f6" Alias="LogOutbutton" Level="0">
  <Name>LogOutbutton</Name>
  <MacroSource>~/Views/MacroPartials/LogOutbutton.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>