<?xml version="1.0" encoding="utf-8"?>
<Macro Key="031ebc43-5182-4a87-9aae-01a8769ac490" Alias="samplelogin" Level="0">
  <Name>samplelogin</Name>
  <MacroSource>~/Views/MacroPartials/samplelogin.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>