<?xml version="1.0" encoding="utf-8"?>
<Macro Key="b97edde4-33e4-4b8f-8ecc-134ec913b862" Alias="UpdateProfile" Level="0">
  <Name>UpdateProfile</Name>
  <MacroSource>~/Views/MacroPartials/UpdateProfile.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>