@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <!--CSS-->
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/ChangePasswordPage.css" rel="stylesheet" />
    
    
</head> 
<body> 

    <!--Body-->
    <div class = "main-body">
        <div class = "password-body">
            <h2>Change Your Password</h2>
            <h3>Your password must contain at a minimum...</h3>
            <ul>
                <li>8 Characters</li>
                <li>1 Uppercase</li>
                <li>1 Special Character</li>
                <li>1 Number</li>
            </ul>

            <!--Password text field-->
            <form>
                <label for="password" class = "title">New Password</label><br>
                <input type="text" id="password" name="password" class = "input" minlength="8"><br><br>
                <label for="RePassword" class = "title">Repeat New Password </label><br>
                <input type="text" id="RePassword" name="RePassword" class = "input" minlength="8"><br><br>
                <input type = "text" id="btn1" class = "submit" value="Submit">
            </form>

            <!--Output Box-->
            <p class = "output" id = "output1" style="color:black">...</p>

        </div>
    </div>

    <!--Javascript-->
    <script>
        
        //variables
        const password = document.getElementById('password'); 
        const RePassword = document.getElementById('RePassword'); 
        const button = document.getElementById('btn1'); 
        const output = document.getElementById('output1');

        //Checks if the new password contains any special characters
        function containsSpecialChars(password) {
            var str = String(password); 
            for (var i=0; i<=str.length; i++){
                if (str.charAt(i) == str.charAt(i).match(/[`!#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/)/i){
                    console.log("Does contain a special character"); 
                    return true;
                } 
            }
            console.log("Does not contain a special character"); 
            return false;
        }

        //Checks if a letter is uppercase 
        function checkUppercase(password){
            var str = String(password); 
            for (var i=0; i<=str.length; i++){
                if (str.charAt(i) == str.charAt(i).toUpperCase() && str.charAt(i).match(/[a-z]/i)){
                    return true; 
                } 
            }
            return false; 
        }

        //Check if the password has a number
        function containsNumbers(password) {
            var str = String(password); 
            for (var i=0; i<=str.length; i++){
                if (str.charAt(i) == /[0-9]/.test(str.charAt(i))){
                    console.log("Does contain a number");
                    return true; 
                } 
            }
            console.log("Does not contain a number"); 
            return false; 
        }

        //check if the passwords match 
        function match(password) {
            //Convert to string and compare 
            var str = String(password); 
            var str1 = String(RePassword); 
            var result = str.localeCompare(str1); 
            
            if (result == true) {
                console.log("Matches"); 
                return true; 
            } 
            console.log("Does not match"); 
            return false; 
        }

        //Output to the text field the password - for testing purposes 
        function setPassword(password) {
            if (password.length > 8) {
                if (containsSpecialChars(password) && checkUppercase(password) && containsNumbers(password) && match(password)) { 
                output.innerHTML = "Password Successfully Changed"; 
                window.location.href = "../log-in/";
                } else {
                output.innerHTML = "Invalid new password. Try Again!"; 
                }
            } else {
                output.innerHTML = "Invalid new password. Try Again!"; 
            } 
        }

        button.addEventListener('click', setPassword);

    </script>

</body> 
</html>