@using Umbraco.Cms.Web.Common.PublishedModels;
@model HFportal.Views.ClinicianCommitteeRegisterModel
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
}

@Model.Value("HFportal.Views.ClinicianCommitteeRegisterModel")

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/ClinicianCommitteeRegister.css" rel="stylesheet" />
    
    <!--Script--> 
    <script> 
        
        //User Objet 
        let UserGroup = [];
        
        const createUser = (ev) => { 
            //Prevents the browser from reloading 
            ev.preventDefault(); 
            
            if (document.getElementById('password').value != document.getElementById('repassword').value ) { 
                alert("Passwords Don't Match"); 
                return false; 
            } 
            
            if (document.getElementById('security').value != document.getElementById('resecurity').value ) { 
                alert("Securtity Answers Don't Match"); 
                return false; 
            } 
            
                
            //Creates a User Object 
            let user = {
                prefix = document.getElementById('prefix').value,
                name = document.getElementById('name').value,
                qualification = document.getElementById('qualification').value,
                address = document.getElementById('address').value,
                phone = document.getElementById('phone').value,
                email = document.getElementById('email').value,
                password = document.getElementById('password').value,
                security = document.getElementById('security').value,
                member = document.getElementById('member').value,
                committee = document.getElementById('committee').value,
                
            }
            
            //Add to the array
            UserGroup.push(user); 
            
            const csvData = json2csv.parse(); 
            
            //Clears the query 
            document.forms[0].reset(); 
            
            localStorage.setItem('UserGroupList', JSON.stringify(UserGroup))
        } 
        
        
        //Register Button Action 
        document.addEventListener('DOMContentLoaded', () =>{
            document.getElementById('RegButton').addEventListener('click', createUser)
        }); 
    
    </script>
    
    
 </head>
 <body>
    
    <div class = "main-reg-body"> 
        <form class = "reg-body" > 
            <h1 class = "main-title"> Clinician & Committee Registration</h1>
            
            <!--Detail input for the user--> 
            <div class = "input-input-group">
                <label>Prefix</label><br> 
                <input type="text" class="prefix-input-form" id="prefix" placeholder="Dr." value="@Model..name"><br>
                <label>Full Name</label><br> 
                <input type = "text" class = "fullname-input-form" id="name" placeholder = "Steve Smith"><br>
                <label>Professional Qualification</label><br> 
                <input type = "text" class = "qualification-input-form" id="qualification" placeholder = "Professional Qualification"><br> 
                <label>Professional Work Address</label><br>
                <input type = "text" class = "address-input-form" id="address" placeholder = "Professional Address"><br>
                <label>Number</label><br> 
                <input type = "text" class = "phone-input-form" id="phone" placeholder = "0411 111 111"><br>
                <label>Email Address</label><br> 
                <input type = "email" class = "email-input-form" id="email" placeholder = "abc@email.com"><br><br> 
                
                <!--Password Validation--> 
                <label>Enter Your Password</label><br> 
                <input type = "password" class = "password-input-form" id="password" placeholder = "Password"> <br>  
                <label>Re-Enter Your Password</label><br> 
                <input type = "password" class = "repassword-input-form" id="repassword" placeholder = "Re-Enter Password"> <br><br>
                
                <!--Security Question--> 
                <select class = "securityOption">
                    <option value="Op1">What was the name of your first pet?</option>
                    <option value="Op2">What is your mother's maiden name?</option>
                    <option value="Op3">In what city were you born?</option>
                </select> <br><br> 
                
                <label>Enter Your Security Question Answer</label><br> 
                <input type = "text" class = "security-input-form" id="security" placeholder = "Security Question"> <br>
                <label>Re-Enter Your Security Question Answer</label><br>
                <input type = "text" class = "resecurity-input-form" id="resecurity" placeholder = "Re-Enter Security Question"> <br> 
                
                <form> 
                    <input type="checkbox" id="clinican" name="member" class="member" id="member" value="Clinician">
                    <label for="member">Clinician</label>
                    <input type="checkbox" id="clinican" name="committee" class="committee" id="committee" value="Committee Member">
                    <label for="committee">Committee Member</label><br><br> 
                </form>
                
                
                <!--Button-->
                <form action="/log-in/">
                    <button class="RegButton" type="submit" id="RegButton">Register</button>
                </form><br>
                
                <!--Back to login--> 
                <p class="login">
                    <a class="login" href="#" id="login">Already have an account? Log-in here</a>
                </p>
                
            </div>
        </form>
    </div>
    
    
    
    
</body>
</html>
    