@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <!--CSS-->
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/ClinicalResearchPage.css" rel="stylesheet" />
    
    <!--Javascript--> 
    <script type = "text/javascript">
            
        // Creates and inserts into the row 
        var row = table.insertRow(0);
        var cell1 = row.insertCell(0);
            
        const realFileBtn = document.getElementById("real-file");
        const table = document.getElementById("myTable");
        var uploadBtn = document.getElementById("uploadBtn");
                
        realFileBtn.addEventListener("click", function() {
            realFileBtn.click();
            cell1.innerHTML = realFileBtn; 
        });
        
        //Adds to the table 
        function appendFunction(){ 
            var row = table.insertRow(2);
            var cell1 = row.insertCell(2);
            cell1.innerHTML = realFileBtn;
        } 
        
        //Selects the file        
        realFileBtn.addEventListener("change", function() {
            if (realFileBtn.value) {
                customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
            } else {
                customTxt.innerHTML = "Select a File";
            }
        });
        
        //Upload Button
        uploadBtn.addEventListener("click", appendFunction);
    
    </script>
    
</head> 
<body> 
    
    <!--Main Body--> 
    <div class = "main-body"> 
        <!--PDF Container--> 
        <div class = "pdf-file-uploader"> 
             <!-- Table Body--> 
             <table class = "forum-header" id="myTable"> 
                <thead>
                    <tr>
                        <th>Research Upload</th>
                    </tr>
                </thead>
                <tbody class="forum-table">
                    <tr>
                        <th>PDF File</th>
                    </tr>
                </tbody>
            </table>
            
            <!--Upload File Button --> 
            <input type="file" id="real-file" class ="custom-button">
            <button type="button" id="uploadBtn">Upload</button> 
        
        </div>
    </div>

</body> 
</html>