@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <!--CSS-->
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/ClinicalResearchPage.css" rel="stylesheet" />
   
    
</head> 
<body> 


</body> 
</html>