@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/ContactUsPage.css" rel="stylesheet" />
    
</head> 
<body> 

    <div class = "contact-container">
        
        <h1>Connect With Us</h1>
        <p>We'd love to hear from you. If you have an idea or a problem you’re trying to solve, please fill out the quick form and we’ll be in touch.</p>
           
        <div class = "contact-box"> 
        <!-- Left Column form-->
            <div class = "contact-left"> 
                <h3>Send Your Requests</h3>
                <form>
                    <div class = "input-row"> 
                        <div class = "input-group"> 
                            <label>Name</label>
                            <input type = "text" placeholder = "Steve Smith">
                        </div>
                        <div class = "input-group"> 
                            <label>Phone Number</label>
                            <input type = "text" placeholder = "(+61) 000 000 000">
                        </div>
                        <div class = "input-group"> 
                            <label>Email</label>
                            <input type = "text" placeholder = "abc@email.com">
                        </div>
                        <div class = "input-group"> 
                            <label>Subject</label>
                            <input type = "text" placeholder = "Heart Failure">
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea cols = "20" placeholder = "Description"></textarea>
                    
                    <!--Button--> 
                    <button type = "submit">Send</button>
                    
                </form>
            </div>  
            <!-- Right Column form-->
            <div class = "contact-right"> 
                <h3>Reach Us Here</h3>
                <p>Alternatively, call +61 (08) 8226 0883 <br> 
                   <strong>Find us here:</strong> L7 Citi Centre Building, 11 Hindmarsh Square, Adelaide SA 5000 </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16508.878359076734!2d138.6115966228024!3d-34.81156340922489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0b68c31956e75%3A0xf03365545bac890!2sUniversity%20of%20South%20Australia%20Mawson%20Lakes%20Campus!5e0!3m2!1sen!2sau!4v1662208176787!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>   
        </div>
    </div>

</body>
</html> 
            