@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <!--CSS-->
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/DiscussionForumPage.css" rel="stylesheet" />
    
    <!--Javascript Add post-->
    <script src = "/scripts/discussionForum.js"></script>
    
    <!--Disables Signin button-->
    <script> 
        window.addEventListener('load', function () {
            document.getElementById("myBtn").disabled = true; 
        })
    </script>
   
    
</head> 
<body> 

    <!--Body of the forum-->
    <div class = "main-body" runat="server">
        
        <!--Forum Table-->
        <table class = "table">
            <tr class = "forum-table-name">
                <th>Post</th>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </table>
        
        <!--Data Input-->
        <div id = "data"> 
            <input type= "text" id = "description" class = "description" placeholder = "Description..."> 
            <button class = "post-btn">Post</button>
        </div>
        
    </div>

</body> 
</html>