@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <!--CSS-->
    <link href="/css/DiscussionForumPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Style.css">

    <!--Javascript Add post-->
    <script src = "/scripts/discussionForum.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
    </script>
    
    <script>
    
        window.addEventListener('load', function () {
            const element = document.getElementById("myBtn");
            element.remove();
        })
        
        function addRow() {
            // get input values
            var Subject = document.getElementById('Subject').value;
            var Message = document.getElementById('Message').value;

            // get the html table
            // 0 = the first table
            var table = document.getElementsByTagName('table')[0];

            // add new empty row to the table
            // 1 = in the top 
            // table.rows.length = the end
            var newRow = table.insertRow(1);

            // add cells to the row
            var cel1 = newRow.insertCell(0);
            var cel2 = newRow.insertCell(1);
            var cel3 = newRow.insertCell(2);
            var cel4 = newRow.insertCell(3);
            //var cel5 = newRow.insertCell(4);

            // add values to the cells
            cel1.innerHTML = Subject;
            cel1.style.fontWeight = 'bold';
            cel2.innerHTML = "Shivam";
            cel3.innerHTML = "-";
            cel4.innerHTML = "0";
                     
        }

        function cleartext(){

            //clear the text area
            document.getElementById('Subject').value = '';        
            document.getElementById('Message').value = '';        

        }
    </script>
    
</head> 

<body>
    
    <!--Main Body of the Forum-->
    <div class = "main-forum-body"> 
        <!--Padding container-->
        <div class = "the-forum-class">
            
            <table class = "forum-header"> 
                <!-- Forum Body--> 
                <thead>
                    <tr>
                        <th scope="col">Discussion</th>
                        <th scope="col">Started By</th>
                        <th scope="col">Last Post</th>
                        <th scope="col">Replies</th>
                    </tr>
                </thead>
                <tbody class="forum-table">
                    <tr>
                        <th scope="col">Tips for healthy heart?</th>
                        <td>Jan </td>
                        <td>Paul</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
            
            <!--Posting Section--> 
            <table class="table caption-top">
                <div class="card-card-body">
            
                    Subject <input type="text" name="Subject" id="Subject"/><br/><br/>
                    Message <textarea type="text" rows="10" name="Message" id="Message" required minlength="10"
                    maxlength="5000"></textarea><br/><br/>
                
                    <div class="row" style="padding: 1rem;">
                        <button class="btn-post" onclick="addRow();cleartext();" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsepost" aria-expanded="false"
                        aria-controls="collapseExample">Post to Forum</button><br /><br />
                        &nbsp;
                        &nbsp;
                        
                        <button class="btn-cancel" onclick="cleartext();" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsepost" aria-expanded="false"
                        aria-controls="collapseExample">Cancel</button><br/><br/>
                    </div>
                </div>
            </table>
        </div>
    </div>

</body>

</html>