@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/GeneralInfoPage.css" rel="stylesheet" />
   
    
</head> 
<body>
    
    <header> 
        <h3>General Information</h3>
    </header>
    
    <section class = "about">
        <div class = "about-title">
            <h2>About Us</h2>
        </div>
        <div class = "about-pages">
            <div>
                <h1>Project 1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                   Nec tincidunt praesent semper feugiat nibh sed pulvinar proin. 
                   Lobortis elementum nibh tellus molestie nunc non. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. 
                   Non blandit massa enim nec. Enim sed faucibus turpis in eu. Arcu felis bibendum ut tristique et egestas quis ipsum. Tortor vitae purus faucibus ornare</p>
            </div>
            <div>
                <h1>Project 2</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                   Nec tincidunt praesent semper feugiat nibh sed pulvinar proin. 
                   Lobortis elementum nibh tellus molestie nunc non. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. 
                   Non blandit massa enim nec. Enim sed faucibus turpis in eu. Arcu felis bibendum ut tristique et egestas quis ipsum. Tortor vitae purus faucibus ornare</p>
            </div>
        </div
    </section>

</body>
</html> 
