@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/GeneralInfoPage.css" rel="stylesheet" />
   
    
</head> 
<body>
    
    <!--Body--> 
    <div class = "gen-body"> 
        
        <!--1st Section--> 
        <div class = "card-class-1"> 
           <h1 class = "heading-title">Heart Failure</h1>
           <h2 class = "subtitle">Heart failure is when the heart muscle fails to function normally.</h2>
           <h3 class = "subtitle-1">Impact of Heart Failure</h3>
           <p class ="def-text"> Heart failure occurs when the heart muscle doesn't pump blood as well as it should. Blood often backs up and causes fluid to build up in the lungs (congest) and in the legs. The fluid buildup can cause shortness of breath and swelling of the legs and feet. Poor blood flow may cause the skin to appear blue (cyanotic) <br><br>
                                 Proper treatment can improve the signs and symptoms of heart failure and may help some people live longer. Lifestyle changes — such as losing weight, exercising, reducing salt (sodium) in your diet and managing stress — can improve your quality of life. However, heart failure can be life-threatening. People with heart failure may have severe symptoms, and some may need a heart transplant or a ventricular assist device (VAD). <br>
           </p>
           <h4 class = "subtitle-2">How Can You Prevent Heart Failure?</h4>
           <p class = "def-text">In many cases, you can significantly reduce your risk of heart failure by improving your lifestyle choices. Here are a few things you can do to help reduce your risk: </p>
           
            <ul>
                <li><strong>Eat well.</strong> See the Heart Foundation’s healthy eating tips, recipes and information to help protect your heart</li>
                <li><strong>Exercise regularly.</strong> Learn more about how much exercise you need, how to build more activity into your day-to-day life and more</li>
                <li><strong>Stop smoking.</strong> Talk to your doctor today about quitting smoking</li>
            </ul>
           
        </div>
        
        <!--2nd Section--> 
        <div class = "card-class-2"> 
            <!--Inner left content--> 
            <div class = "inner-left-2">
                <img src="/media/romfpt22/heartfailure.jpg" alt="Heart Image" class = "heartImg">
            </div>
            <!--Inner right content--> 
            <div class = "inner-right-2">
                <h1 class = "inner-class-title">What Causes a Heart Attack?</h1>
                <p class = "inner-right-text">The most common cause of a heart attack is coronary heart disease. This occurs when the coronary artery, which supplies blood to your heart, narrows because of a build-up of plaque. Plaque is made of fat, cholesterol and other materials. The narrowed artery causes a reduced amount of blood flow to your heart muscle. </p>
                <h4 class = "inner-right-subtitle">What is the difference between Heart Attack & Cardiac Arrest?</h3>
                <p class = "inner-right-text-1"> A Heart Attack occurs when an artery supplying blood to your heart becomes blocked, which stops blood flow and reduces the amount of oxygen that gets to your heart.<br><br>
                                                Cardiac Arrest occurs when your heart stops beating due to an electrical malfunction.A person in cardiac arrest will be unconscious (not able to respond) and will not be breathing
                </p>
            </div>
        </div>
        
        <!--3rd Section--> 
        <div class = "card-class-3"> 
            <h1 class = "heading-title">Are You at Risk?</h1>
            <h2 class = "subtitle">There is no single cause for any one heart condition, but there are risk factors that increase your chance of developing one</h2>
            <p class ="def-text"> There’s no one cause for heart disease. However, there are risk factors that increase your chance of developing it. The more risk factors you have, the more likely you are to develop heart disease. More than two-thirds of Australian adults have three or more risk factors for heart disease. Yet many people don’t know they’re at risk.</p>
            
            <!--Inner Section-->
            <div class = "card-inner-3"> 
                <h4 class = "card-title">Lifestyle Choices</h4>
                <p class = "text-inner-section">You have the power to significantly lower your risk of heart disease. Small, healthy changes to your daily routine can have an important impact on your heart health. Discover your lifestyle risk factors and the steps you can take to lower your risk. <br><br>
                                                High blood pressure, high cholesterol and diabetes can increase your chance of developing heart disease. Understand your risk by seeing your GP for a Heart Health Check. Click the link below to find out more today!  
                </p>
                
                <!--Button-->
                <form action="https://www.heartfoundation.org.au/bundles/your-heart/are-you-at-risk-of-heart-disease">
                    <button class="learn-button" type ="button">Learn More</button> 
                </form>
            </div>
            <div class = "card-inner-4"> 
                <h4 class ="card-title">Health Conditions</h4>
                <p class = "text-inner-section">Some medical conditions increase your risk of heart disease, but most of them can be managed with medication and making healthy lifestyle choices. High blood pressure, high cholesterol, diabetes, and poor mental health can lead to increase chances of heart failure and similar cardiovascular diseases.</p> 
                
                <!--Button-->
                <form action="https://www.heartfoundation.org.au/bundles/your-heart?selectedfilter=am%20I%20at%20risk">
                    <button class="learn-button-1" type ="button">Learn More</button> 
                </form>
            </div>
        
        </div>
    
    </div>

</body>
</html> 
