@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/GeneralInfoPage.css" rel="stylesheet" />
   
    
</head> 
<body>
    
    <!--Image-->
    <div class = "border"></div>
    <div class = "intro-img"></div>
    
    <!--Title Page-->
    <div class = "gen-info"> 
        <h1>General Information</h2>
    </div>
    
    <div class = "gen-content"> 
        <h2><strong>What is Heart Failure?</strong></h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <h3><strong>How to be Healthy?</strong></h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <h4><strong>Tips for being more Active</strong></h4>
        <p>
            <ul>
                <li>Tip 1: dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</li>
                <li>Tip 2: dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</li>
                <li>Tip 3: dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</li>
            </ul>
        </p>
    </div>

</body>
</html> 
            