@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/GeneralInfoPage.css" rel="stylesheet" />
   
    
</head> 
<body>
    
    <!--Body--> 
    <div class = "gen-body"> 
        
        <!--1st Section--> 
        <div class = "card-class-1"> 
           
        </div>
        
        <!--2nd Section--> 
        <div class = "card-class-2"> 
            <!--Inner left content--> 
            <div class = "inner-left-2">
                <h1>text</h1>
            </div>
            <!--Inner right content--> 
            <div class = "inner-right-2">
                <h1>text</h1>
            </div>
        </div>
        
        <!--3rd Section--> 
        <div class = "card-class-3"> 
        
        </div>
    
    </div>

</body>
</html> 
