@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/HomePage.css" rel="stylesheet" />
    
</head> 
<body> 

    <!--Search Bar --> 
    <div class = "searchContainer"> 
        <form>
            <input type = "text" name = "" placeholder = "Search..." class = "query" value = ""> 
            <button class = "submit">Search</button>
        </form>
    </div>
    
    <!--JS for the Search bar-->
    <script> 
        let query = document.querySelector('.query'); 
        let search = document.querySelector('.submit'); 
        search.onclick = function(){
            let url = 'https://www.google.com/search?q=' + query.value; 
            window.open(url, '_self'); 
        }
    </script>
    
    <!--Coloumn Cards--> 
    <section class="light">
      <div class="container py-2">
          <div class="h1 text-center text-dark" id="pageHeaderTitle"> </div>
          <!--Card 1--> 
          <article class="postcard light blue">
              <a class="postcard__img_link" href="#">
                  <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
              </a>
              <div class="postcard__text t-dark">
                  <h1 class="postcard__title blue"><a href="https://www.sahealth.sa.gov.au/wps/wcm/connect/public+content/sa+health+internet/home/home">Latest Health Information</a></h1>
                  <div class="postcard__subtitle small">
                      <time datetime="2020-05-25 12:00:00">
                          <i class="fas fa-calendar-alt mr-2"></i>Sunday, August 28th 2022
                      </time>
                  </div>
                  <div class="postcard__bar"></div>
                  <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              </div>
          </article>
          <!--Card 2--> 
          <article class="postcard light red">
              <a class="postcard__img_link" href="#">
                  <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
              </a>
              <div class="postcard__text t-dark">
                  <h1 class="postcard__title red"><a href="https://www.sahealth.sa.gov.au/wps/wcm/connect/Public+Content/SA+Health+Internet/search?q=heart%20health">Recent Guidelines</a></h1>
                  <div class="postcard__subtitle small">
                      <time datetime="2020-05-25 12:00:00">
                          <i class="fas fa-calendar-alt mr-2"></i>Monday, August 29th 2022
                      </time>
                  </div>
                  <div class="postcard__bar"></div>
                  <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
              </div>
          </article>
          <article class="postcard light green">
              <a class="postcard__img_link" href="#">
                  <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
              </a>
              <div class="postcard__text t-dark">
                  <h1 class="postcard__title green"><a href="https://ceih.sa.gov.au/">CEIH</a></h1>
                  <div class="postcard__bar"></div>
                  <div class="postcard__preview-txt">CEIH lead for innovation in health care in South Australia. We bring consumers, clinicians and other collaborators together to turn ideas into better healthcare. 
                                                     We bring together a diverse group of skills, experiences and people to be able to deliver initiatives that haven’t been attempted before. 
                                                     We seek new perspectives and solutions to challenges, and partner with clinicians, consumers and other collaborators to turn innovative ideas into better healthcare. </div>
              </div>
          </article>
      </div>
  </section>


</body>
</html> 
            