@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
        
    <!--CSS-->
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/NurseRosterPage.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
    #container { margin-left: auto; margin-right: auto; width: 1020px;}
    </style>
</head>
<body>
   
   
    <h1 align="center" style="margin-top:150px; margin-bottom:100px;">Nurse Roster</h1>
    <div id="container" class ="container-nurse">
    </div>
</body>	
 <script>
    $.get('https://localhost:44363/media/iuzhbss3/nurseroster.csv', function(data) {
        var html = '<table class="table table-bordered">';
        var rows = data.split("\n");
        rows.forEach( function getvalues(ourrow) {
            html += "<tr>";
            var columns = ourrow.split(",");
            html += "<td>" + columns[0] + "</td>";
            html += "<td>" + columns[1] + "</td>";
            html += "<td>" + columns[2] + "</td>";
            html += "<td>" + columns[3] + "</td>";
            html += "<td>" + columns[4] + "</td>";
            html += "<td>" + columns[5] + "</td>";
            html += "<td>" + columns[6] + "</td>";
        })
        html += "</table>";
        $('#container').append(html);
    });
    </script>
</html>