@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title> 
    
    <link href="/css/MasterPage.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
    
    <!--Navigation Bar--> 
    <div id="header">
     <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
        <div class="col-12">
             <nav class="site-navigation text-right ml-auto " role="navigation">
               <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                 <li><a href="/Home" class="nav-link">Home</a></li>
                 <li><a href="/General-information" class="nav-link">General Information</a></li>
                 <li><a href="/Members" class="nav-link">Members</a></li>
                 <li><a href="/contact-us" class="nav-link">Contact Us</a></li>
                 
                  <!-- Search Button -->
                    <button class="btn-skin-1 btn-circle" type="button" placeholder="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="white" class="bi bi-search-heart-fill" viewBox="0 0 16 16">
                            <path d="M6.5 13a6.474 6.474 0 0 0 3.845-1.258h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.008 1.008 0 0 0-.115-.1A6.471 6.471 0 0 0 13 6.5 6.502 6.502 0 0 0 6.5 0a6.5 6.5 0 1 0 0 13Zm0-8.518c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
                        </svg>
                    </button>
                
                <!-- Sign in button -->
                 <a class="btn-skin-1 signin-button" type="button" target="_blank" href="/log-in/">Sign In</a>
                </ul>
              </nav>
            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
        </div>
    </header>
      
    @RenderBody() 
          
    <!--Footer & Lanugage Selector --> 
    <footer class="footer-32892 pb-0">
      <div class="site-section">
        <div class="container">

          <div class="row">
            <div class="col-md pr-md-5 mb-4 mb-md-0">
              <h3 style = "text-align: center">About Us</h3>
              <p class="p footer">CEIH lead for innovation in health care in South Australia. We bring consumers, clinicians and other collaborators together to turn ideas into better healthcare. We bring together a diverse group of skills, experiences and people to be able to deliver initiatives that haven’t been attempted before. We seek new perspectives and solutions to challenges, and partner with clinicians, consumers and other collaborators to turn innovative ideas into better healthcare.</p>
            </div>
            
            <!--Bottom section of the footer-->
            <div class="col-12">
              <div class="py-5 footer-menu-wrap d-md-flex align-items-center">
                <ul class="list-unstyled footer-menu mr-auto">
                  <li><a href="/Home">Home</a></li>
                  <li><a href="https://ceih.sa.gov.au/about-us">About</a></li>
                  <li><a href="https://www.saheart.com.au/services/">Services</a></li>
                  <li><a href="/contact-us/">Contact Us</a></li>
                  <li><a href="#">Settings</a></li>
                </ul>
                <div class="site-logo-wrap ml-auto">
                  <a href="#" class="site-logo">CEIH</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap scripts -->
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/jquery.sticky.js"></script>
    <script src="/scripts/main.js"></script>
 
</body>
</html>