@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
	
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title> 
    
    <link href="/css/MasterPage.css" rel="stylesheet"/>
    

</head>
<body>
    
    <!--Navigation Bar--> 
    <div id="header"><embed type="text/html" width= "1000">
     <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
        <div class="col-12">
             <nav class="site-navigation text-right ml-auto " role="navigation">
               <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                 <li><a href="/Home" class="nav-link">Home</a></li>
                 <li><a href="/General-information" class="nav-link">General Information</a></li>
                 
                 <!--Settings Drop Down-->
                 <li class="has-children">
                    <a href="#" class="nav-link">About Us</a>
                    <ul class="dropdown arrow-top">
                      <li><a href="/Members" class="nav-link">Members</a></li>
                      <li><a href="/contact-us" class="nav-link">Contact Us</a></li>
                    </ul>
                  </li>
                  
                   <!--Settings Drop Down-->
                  <li class="has-children">
                    <a href="/settings" class="nav-link">Language</a>
                    <ul class="dropdown arrow-top">
                      <li><a href="#" class="nav-link">Hindi</a></li>
                      <li><a href="#" class="nav-link">Slovakian</a></li>
                    </ul>
                  </li>
                  <li><a href="/log-in/" class="nav-link">Sign In</a></li>
                </ul>
                
              </nav>
            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
        </div>

      </header>
          
     <!--Render--> 
     @RenderBody() 
    
    <!--Footer & Lanugage Selector --> 
    <div class = "footer-container">
      <h5><br><br>
          L7 Citi Centre Building, 11 Hindmarsh Square, Adelaide SA 5000 <br>©2021 Commission on Excellence and Innovation in Health</br></h5>
    </div>   

    <!-- Bootstrap scripts -->
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/jquery.sticky.js"></script>
    <script src="/scripts/main.js"></script>
 
</body>
</html>