@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}
<!doctype html>
<html lang="en">
  <head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/Style.css"/>
    <link href="/css/MasterPage.css" rel="stylesheet"/>
    <link href="/css/MembersPage.css" rel="stylesheet"/>
   
  </head>
  <body>
      
      <h1 class = "heading-title"> Our Team</h1>
      
      <!--1st Row of Members-->
      <div class = "first-main-card">
          <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
           <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
           <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
            <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
      </div> 
      <!--2nd Row of Members-->
      <div class = "second-main-card">
         <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
           <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
           <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
            <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
      </div> 
      <!--3rd Row of Members-->
      <div class = "third-main-card">
          <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
           <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
           <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
            <div class = "member-card"> 
                <img src ="/media/drglpbnd/defaultpic.jpg" alt = "portrait"> 
                <h4 class = "title">Dr Steve Smith</h4>
                <h6 class = "subtitle">Director of X</h6>
                <p1 class = "info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p1>
           </div>
      </div> 
      
  </body>
</html>