@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}
<!doctype html>
<html lang="en">
  <head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/Style.css"/>
    <link href="/css/MasterPage.css" rel="stylesheet"/>
    <link href="/css/MembersPage.css" rel="stylesheet"/>
   
  </head>
  <body>
      
      <!--1st Row of Members-->
      <div class = "first-main-card">
          <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
           <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
           <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
            <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
      </div> 
      <!--2nd Row of Members-->
      <div class = "second-main-card">
         <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
           <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
           <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
            <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
      </div> 
      <!--3rd Row of Members-->
      <div class = "third-main-card">
          <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
           <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
           <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
            <div class = "member-card"> 
                <img src ="#" alt = "portrait"> 
                <h4>Title</h4>
                <h6>Sub-Title</h6>
                <p1>Text Field Bitches</p1>
           </div>
      </div> 
      
  </body>
</html>