@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}
<!doctype html>
<html lang="en">
  <head>

    <!-- Bootstrap CSS -->
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/MembersPage.css"/>

    <!--<link rel="stylesheet" href="css/members.css"/>-->

    <script src="https://code.jquery.com/jquery-1.10.2.js">
      var pageWidth = document.documentElement.clientWidth
    </script>
   
  </head>

  <body>

      <div class="container">
        <div class="section-title">
            <h1>Committee Members</h1>
        </div>

        <div class="row">


            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="Images/profileimg.png" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Member 1</h2>
                        <h3>Position</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4>abc@gmail.com</h4>
                    </div>
                  
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="Images/profileimg.png" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Member 2</h2>
                        <h3>Position</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4>abc@gmail.com</h4>
                    </div>
                   
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="Images/profileimg.png" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Member 3</h2>
                        <h3>Position</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4>abc@gmail.com</h4>
                    </div>
                  
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="Images/profileimg.png" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Member 4</h2>
                        <h3>Position</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4>abc@gmail.com</h4>
                    </div>
                  
                </div>
            </div>

        </div>

    </div>
    </body>
      


</html>