@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title>
    
    <!--CSS-->
    <link href="/css/MasterPage.css" rel="stylesheet" />
    <link href="/css/NearbyServicesPage.css" rel="stylesheet" />
    
</head> 
 <script> 
        window.addEventListener('load', function () {
            const element = document.getElementById("myBtn");
            element.remove();
        })
        
        window.addEventListener('load', function () {
         
  

            let element = document.getElementById("profileButton");
            let element1 = document.getElementById("welcome-user");
            let hidden = element.getAttribute("hidden");
            element.removeAttribute("hidden");
            element1.removeAttribute("hidden");

        })
    </script>
<body> 
@Html.GetGridHtml(Model,"servicesEditor","bootstrap3")
</body> 
</html>