@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}
<<<<<<< HEAD

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Heart Failure Information Portal</title> 
    
    <link href="/css/LogInPage.css" rel="stylesheet" />
    

</head>
<body>
    
   
 
</body>
</html>
=======
@Model.Value("loginCredentials")
>>>>>>> 6982fed8771959fb0cd066579a206e1a8cf8c219
