<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d4c1220-72c9-42be-bf25-0c44dfdd5d1a" Alias="Forum - Post Type - Toggle" Level="1">
  <Info>
    <Name>Forum - Post Type - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "Reply",
  "LabelOn": "Topic",
  "ShowLabels": true
}]]></Config>
</DataType>