<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc9c0125-73ed-4bbe-b431-ad7cdcfa93b8" Alias="Forum - Page Size - Search" Level="1">
  <Info>
    <Name>Forum - Page Size - Search</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 25.0,
  "InitialValue2": 0.0,
  "MaximumValue": 100.0,
  "MinimumValue": 10.0,
  "StepIncrements": 5.0
}]]></Config>
</DataType>