<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d62b131a-74c3-4f33-bf9a-3e1f5882fae9" Alias="Forum - Page Size - Topics" Level="1">
  <Info>
    <Name>Forum - Page Size - Topics</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 10.0,
  "InitialValue2": 0.0,
  "MaximumValue": 100.0,
  "MinimumValue": 5.0,
  "StepIncrements": 5.0
}]]></Config>
</DataType>