<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1acd2f4-5ba8-440f-af31-e1ee16eb5fb6" Alias="Forum - Member Group Picker" Level="1">
  <Info>
    <Name>Forum - Member Group Picker</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>