<?xml version="1.0" encoding="utf-8"?>
<DataType Key="567ae576-8aa1-48dc-9057-4061596fb119" Alias="General Information - Image Cropper" Level="1">
  <Info>
    <Name>General Information - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "GeneralInformationImageCropper",
      "height": 260,
      "width": 360
    }
  ]
}]]></Config>
</DataType>