<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2fa3a54-0fb7-42b4-96c5-f7fce2ebf877" Alias="General Information - Grid layout" Level="1">
  <Info>
    <Name>General Information - Grid layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      }
    ],
    "config": [
      {
        "name": "Card Image",
        "alias": "media",
        "view": "image",
        "icon": "icon-picture",
        "config": {
          "size": {
            "width": 350,
            "height": 250
          }
        }
      },
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      },
      {
        "label": "Custom Data",
        "description": "Set a random custom data field",
        "key": "data-custom",
        "view": "radiobuttonlist",
        "prevalues": [
          {
            "label": "Important Value 1",
            "value": "value_1"
          },
          {
            "label": "Important Value 2",
            "value": "value_2"
          },
          {
            "label": "Important Value 3",
            "value": "value_3"
          }
        ]
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      },
      {
        "name": "2 column layout",
        "sections": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "Headline",
        "name": "Headline",
        "areas": [
          {
            "grid": 12,
            "editors": [
              "headline"
            ]
          }
        ]
      },
      {
        "label": "Article",
        "name": "Article",
        "areas": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      },
      {
        "name": "3cols",
        "areas": [
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true,
            "maxItems": 0
          }
        ]
      },
      {
        "name": "4cols",
        "areas": [
          {
            "grid": 3,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 3,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 3,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 3,
            "allowed": [],
            "allowAll": true
          }
        ]
      },
      {
        "name": "col",
        "areas": [
          {
            "grid": 6,
            "allowed": [],
            "allowAll": true
          }
        ]
      }
    ]
  },
  "MediaParentId": "umb://media/2895bd0733fd4569a633518f96c5098f",
  "Rte": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog",
      "hr",
      "subscript",
      "superscript",
      "charmap",
      "rtl",
      "ltr"
    ],
    "stylesheets": [
      "/css/GeneralInfoPage.css",
      "/css/bootstrap.min.css",
      "/css/Style.css"
    ],
    "maxImageSize": 200,
    "mode": "classic",
    "dimensions": {
      "width": 260,
      "height": 162
    }
  }
}]]></Config>
</DataType>