<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a03a4e3-0204-49ae-a271-2cc8b486e31e" Alias="GenInfo-Grid" Level="1">
  <Info>
    <Name>GenInfo-Grid</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "General",
        "sections": [
          {
            "grid": 2,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ]
      }
    ],
    "layouts": []
  },
  "MediaParentId": null,
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [
      "/css/GeneralInfoPage.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  }
}]]></Config>
</DataType>