<?xml version="1.0" encoding="utf-8"?>
<DataType Key="710ff1d6-048e-4b1b-986c-3523d5bc1c34" Alias="Grid_Layout" Level="1">
  <Info>
    <Name>Grid_Layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      },
      {
        "label": "Set Bottom Padding",
        "description": "Set the bottom padding for a row",
        "key": "padding-bottom",
        "view": "radiobuttonlist",
        "applyTo": "row",
        "prevalues": [
          {
            "label": "Small",
            "value": "10px"
          },
          {
            "label": "Medium",
            "value": "25px"
          },
          {
            "label": "Large",
            "value": "50px"
          }
        ]
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      },
      {
        "label": "Custom Data",
        "description": "Set a random custom data field",
        "key": "data-custom",
        "view": "radiobuttonlist",
        "prevalues": [
          {
            "label": "Important Value 1",
            "value": "value_1"
          },
          {
            "label": "Important Value 2",
            "value": "value_2"
          },
          {
            "label": "Important Value 3",
            "value": "value_3"
          }
        ]
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      },
      {
        "name": "2 column layout",
        "sections": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "Headline",
        "name": "Headline",
        "areas": [
          {
            "grid": 12,
            "editors": [
              "headline"
            ]
          }
        ]
      },
      {
        "label": "Article",
        "name": "Article",
        "areas": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      },
      {
        "name": "3 Column",
        "areas": [
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          }
        ]
      }
    ]
  },
  "MediaParentId": "umb://media/1ff72fa9b6e04bd2bf684cd6378aed91",
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 300
    }
  }
}]]></Config>
</DataType>