<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a25b5b05-de58-440c-861d-aed22e1f2b99" Alias="Member" Level="1">
  <Info>
    <Name>Member</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>