<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81669fe2-df1a-440b-be88-75d413459674" Alias="Profile - Email address" Level="1">
  <Info>
    <Name>Profile - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>