<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19aedd1b-3e4b-4e1d-b3dc-d34d6ab90754" Alias="uMarketingSuite - Time Picker" Level="2">
  <Info>
    <Name>uMarketingSuite - Time Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>uMarketingSuite</Folder>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm",
  "OffsetTime": false
}]]></Config>
</DataType>