<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5dafa00-0393-4ae3-9734-4ff7bdeef494" Alias="uMarketingSuite - Node Picker" Level="2">
  <Info>
    <Name>uMarketingSuite - Node Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>uMarketingSuite</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": null
}]]></Config>
</DataType>