<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49addd1b-4e3c-4e2d-b3dc-d24d6ab90756" Alias="uMarketingSuite - Persona Icon Picker" Level="2">
  <Info>
    <Name>uMarketingSuite - Persona Icon Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>uMarketingSuite</Folder>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": true,
  "IgnoreUserStartNodes": true,
  "Multiple": false,
  "OnlyImages": true,
  "StartNodeId": "umb://media/f529c8bb9d8c444781ccd4542d3c4b46"
}]]></Config>
</DataType>