<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29aedd2b-4e4c-4e1d-b3dc-d34d6ab90754" Alias="uMarketingSuite - Customer Journey Icon Picker" Level="2">
  <Info>
    <Name>uMarketingSuite - Customer Journey Icon Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>uMarketingSuite</Folder>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": true,
  "IgnoreUserStartNodes": true,
  "Multiple": false,
  "OnlyImages": true,
  "StartNodeId": "umb://media/150e698339994f46b75e923d76c36fd5"
}]]></Config>
</DataType>