
/*Main Body*/
.gen-body { 
    
    min-height: 200vh;
    padding: 5px;
    margin: 5px;
    
    background-color: #eceae9;
    
} 

/*1st Section*/
.card-class-1 { 
    
    height: 70vh;
    padding: 5px;
    margin: 10px;
    
    background-color: white;
    border-radius: 10px;
    
} 

/*2nd Section*/
.card-class-2 { 
    
    height: 50vh;
    padding: 5px;
    margin: 10px;
    
    background-color: white;
    border-radius: 10px;
} 

.inner-left-2 { 
    float: left;
    width: 30%;
    height: 100%;
    padding: 2px;
}
                
.inner-right-2 { 
    float: right;
    width: 70%;
    height: 100%;
    padding: 2px;
} 


/*3rd Section*/
.card-class-3 { 
    
    height: 75vh;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    
    background-color: white;
     
} 

.card-inner-3 { 
    background: #eceae9;
    padding: 5px;
    margin-left: 10px;
    width: 48%;
    height: 65%;
    
    border-style: solid;
    border-radius: 10px;
    float: left;
} 

.card-inner-4 {
    background: #eceae9;
    padding: 5px;
    margin-right: 10px;
    width: 48%;
    height: 65%;
    
    border-style: solid;
    border-radius: 10px;
    float: right;

}


/*Fonts*/

.heading-title {
    font-family: sans-serif;
    text-align: left;
    padding: 5px;
    font-size: 40px
} 

.heading-title::after { 
    font-family: sans-serif;
    content: '';
    display: block;
    position: absolute;
    
    background: #910c0c;
    width: 80px;
    height: 3px;
    
    margin-left: 2px;
    margin-top: 3px;
    
}


.subtitle { 
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 6px;
    color: #c8102e;
} 

.subtitle-1 {
    font-family: sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 6px;
    margin-top: 20px;  
    
} 

.subtitle-2 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-left: 6px;

}

.def-text { 
    padding-left: 6px;
    font-size: 15px;
    line-height: normal;
    color: black;
    
} 

ul { 
  color: black;
  font-size: 15px;
    
} 

/* Split Div*/
.inner-class-title { 
    font-family: sans-serif;
    padding-left: 5px;
    font-size: 40px;
    color:black;
} 

.inner-right-subtitle {
    font-family: sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.inner-right-text {
    font-family: sans-serif;
    padding-left: 5px;
    color: black;
    font-size: 15px;
    line-height:normal;
    
}

.inner-right-text-1 { 
    font-family: sans-serif;
    padding-left: 5px;
    color: black;
    font-size: 15px;
    line-height:normal;
   
} 


.text-inner-section {
    font-family: sans-serif;
    padding-left: 10px;
    color: black;
    font-size: 15px;
    line-height:normal;
    
}

.card-title {
    
    text-align: center;
    color: black;
    font-weight: bold;
}

/*Images*/

.heartImg {
    height: 293px;
    width: 100%;
    border-radius: 5px;
    
} 


/*Button*/

.learn-button { 
    text-align:center;
    background-color: #c8102e;
    color: white;
    
    padding: 15px;
    border-radius: 5px;
    border: none;
    
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    
    margin-left: 40%;
    margin-top: 40px; 
    
} 

.learn-button-1 { 
    text-align:center;
    background-color: #c8102e;
    color: white;
    
    padding: 15px;
    border-radius: 5px;
    border: none;
    
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    
    margin-left: 40%;
    margin-top: 55px; 
    
} 
