
/*Main Body*/
.gen-body { 
    
    min-height: 200vh;
    padding: 5px;
    margin: 5px;
    
    background-color: white;
    border-style: solid; 
    
} 

/*1st Section*/
.card-class-1 { 
    
    height: 70vh;
    padding: 5px;
    margin: 1px;
    
    background-color: blue;
    border-style: solid; 
    
} 

/*2nd Section*/
.card-class-2 { 
    
    height: 50vh;
    padding: 5px;
    margin: 1px;
    
    background-color: red;
    border-style: solid; 
} 

.inner-left-2 { 
    float: left;
    width: 30%;
    height: 100%;
    padding: 2px;
    
    background-color: green;
}
                
.inner-right-2 { 
    float: right;
    width: 70%;
    height: 100%;
    padding: 2px;
    
    background-color: yellow;
} 


/*3rd Section*/
.card-class-3 { 
    
    height: 75vh;
    padding: 5px;
    margin: 1px;
    
    background-color: teal;
    border-style: solid; 
} 
