

.header { 
  
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url ("//media/popf3xbi/gen.jpg");
  color:white;
  background-size:cover; 
     
} 

.about {
    
    height: 300vh;
    display: flex; 
}

.about-title { 
    
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
} 

.about-pages {
    width: 50%;
}


.about-pagess div {
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-pagess div p{ 
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    
} 

.about-page div:nth-child(1) { 
    background-color:blue;
} 

.about-page div:nth-child(2) { 
    background-color:green;
} 