/* 1st-Main body */
.first-main-card { 
    min-height: 50vh;
    margin: 5px; 
    padding: 5px;
    
     /* DELETE WHEN DONE */
    border-style: solid;
    
    /* Flex */
    display: flex;
    flex-direction: row; 
} 

/* 2nd-Main body */
.second-main-card { 
    min-height: 50vh;
    margin: 5px;
    margin-top: 5px;
    padding: 5px;
    
     /* DELETE WHEN DONE */
    border-style: solid;
    
    /* Flex */
    display: flex;
    flex-direction: row; 
    
} 

/* 3rd-Main body */
.third-main-card { 
    min-height: 50vh;
    margin: 5px;
    margin-top: 5px;
    padding: 5px;
    
     /* DELETE WHEN DONE */
    border-style: solid;
    
    /* Flex */
    display: flex;
    flex-direction: row; 
    
} 

 /* First Row of Members */
.member-card { 
    height: 400px;
    width: 30%;
    border-style: solid;
    margin: 5px 20px 5px 20px; 
    padding: 2px;
} 
