.container-signup{
margin: auto;
  width: 600px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(230, 181, 181, 0.15);
  margin-top :10px;
  margin-bottom :100px;
}

h2.signup-h2{
    text-align: center;
    margin-bottom: 50px;
}

h2.h2-login{
    text-align: center;
    margin-bottom: 50px;
}

div.login-form{
      margin-top :20px;
      margin-bottom :170px;
}

.form-control{
    
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;

}

.resecurity-input-form, .security-input-form, .prefix-input-form, .qualification-input-form, .address-input-form, .phone-input-form{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

}

.login { 
    margin-top: 5px;
    margin-left: 11%;
} 

.button-Register{
   height: auto;
   width: 30%;
   margin-left: 35%;
   padding: 5px;
   justify-content: center;
   margin-left: 150px;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #c8102e;
   margin-top :15px;
}

.button-Register input:hover{
  background: #c8102e;
  }
  
.button-login{
   height: auto;
   width: 30%;
   padding: 5px;
   justify-content: center;
   margin-left: 0px;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #c8102e;
}
.button-signup{
   height: auto;
   width: 30%;
   padding: 5px;
   justify-content: center;
   margin-left: 35%;
   margin-top: 5px;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #c8102e; 
}
.button-admin{
   height: auto;
   width: 30%;
   padding: 5px;
   justify-content: center;
   margin-left: 19px;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #c8102e; 
}
.logintext{
    color: white
}
.form-check-remember{
    margin-left: 10px;
}
.form-check-input-remember{
    margin-left: auto;
}

/* Drop Down Option*/
.Reg-Option { 
    margin-top: 10px;
    margin-left: 22px;
    width: 160px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px; 
    padding: 5px; 
    outline:none;
    color: white;
    background-color:#c8102e;
    text-align: center;
    
} 

/* Definition Help Section*/ 
.Tool-Tip-Help {
    margin-top: 15px;
    color: black !important;
    font-size: 14px; 
}

