@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, c);
}
.container-signup{
margin: auto;
  width: 600px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(230, 181, 181, 0.15);
  
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #9d5858, #f38971);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
h2{
    text-align: center;
}
.form-control{
    
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.button-Register{
   height: auto;
   width: 30%;
   padding: 5px;
   justify-content: center;
   margin-left: 150px;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #e4c2c2, #8f6eb4);
}

.button-Register input:hover{
  background: linear-gradient(135deg, #e4c2c2, #d8c0f1);
  }
  
.button-login{
   height: auto;
   width: 30%;
   padding: 5px;
   justify-content: center;
   margin-left: 0px;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #e4c2c2, #8f6eb4);
}
.button-signup{
   height: auto;
   width: 30%;
   padding: 5px;
   justify-content: center;
   margin-left: 20px;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #e4c2c2, #8f6eb4);
}
.button-admin{
   height: auto;
   width: 30%;
   padding: 5px;
   justify-content: center;
   margin-left: 19px;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #e4c2c2, #8f6eb4);
}
.logintext{
    color: white
}
.form-check-remember{
    margin-left: 10px;
}
.form-check-input-remember{
    margin-left: auto;
}
