<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c909670-be6e-4001-bf66-e5811a8a59e4" Alias="CEIHlogo" Level="3">
  <Info>
    <Parent Key="8b1d4a1c-c319-4707-8a15-30d075a9ae83">HomePageImages</Parent>
    <Path>/Images/HomePageImages/CEIHlogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-29T18:40:26</CreateDate>
    <NodeName Default="CEIHlogo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o0ljatdo/ceihlogo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>