<?xml version="1.0" encoding="utf-8"?>
<Media Key="a88e8b21-34fb-4814-8d67-ace211980305" Alias="Customer Journey" Level="2">
  <Info>
    <Parent Key="b712f0cf-7da6-4f6e-8568-10ca384b6c48">uMarketingSuite</Parent>
    <Path>/uMarketingSuite/CustomerJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-27T18:00:24</CreateDate>
    <NodeName Default="Customer Journey" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>