<?xml version="1.0" encoding="utf-8"?>
<Media Key="150e6983-3999-4f46-b75e-923d76c36fd5" Alias="Customer Journey" Level="2">
  <Info>
    <Parent Key="8a0d44dc-369f-46af-a09c-d0d30e708ba2">uMarketingSuite</Parent>
    <Path>/uMarketingSuite/CustomerJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Customer Journey" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>