<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce3c4d35-657b-46fb-b4f1-61d14f027368" Alias="Female 2" Level="3">
  <Info>
    <Parent Key="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Female2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Female 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gngdztt1/female-2.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>