<?xml version="1.0" encoding="utf-8"?>
<Media Key="625971ed-fe4a-4be6-ae6c-a4b90e7ed33e" Alias="Female 6" Level="3">
  <Info>
    <Parent Key="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Female6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Female 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3nyfsysk/female-6.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>