<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2bba78f-735e-4f4d-8b15-b0f07417097b" Alias="Female 4" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Female4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Female 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rgtlxis4/female-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>