<?xml version="1.0" encoding="utf-8"?>
<Media Key="2267f4b3-7fdb-461b-b563-6ff5c9ac086d" Alias="Female 3" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Female3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Female 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wx0goiw1/female-3.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>