<?xml version="1.0" encoding="utf-8"?>
<Media Key="77084d16-18d5-4040-bee6-06e5b1224687" Alias="Female 2" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Female2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Female 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cbgbq34v/female-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>