<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bc26605-fe26-4e36-bc04-7cf3866d75ad" Alias="Female 8" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Female8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Female 8" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/antmeszg/female-8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>