<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f242fb0-59ed-4043-8421-997dca1facc8" Alias="Female 4" Level="103">
  <Info>
    <Parent Key="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">Persona</Parent>
    <Path>/[-21]/uMarketingSuite/Persona/Female4</Path>
    <Trashed Parent="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Female 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wyxdih5n/female-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>