<?xml version="1.0" encoding="utf-8"?>
<Media Key="76740dde-d19a-43b0-94fe-47bd5ff0720d" Alias="Female 7" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Female7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Female 7" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1aghi3u0/female-7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>