<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb7f6fd8-ca97-4b33-96d3-d12fb0655078" Alias="Female 6" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Female6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Female 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1zxh5s2x/female-6.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>