<?xml version="1.0" encoding="utf-8"?>
<Media Key="9df5103d-2c13-4c06-bf14-cae94cb5dd93" Alias="Female 5" Level="3">
  <Info>
    <Parent Key="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Female5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Female 5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hmiplhit/female-5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>