<?xml version="1.0" encoding="utf-8"?>
<Media Key="58678f8f-b579-47e1-9c1e-6ca74cc71959" Alias="Female 5" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Female5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Female 5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rghhowdz/female-5.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>