<?xml version="1.0" encoding="utf-8"?>
<Media Key="40c0cab2-588a-439f-820c-59d1640ad334" Alias="forumimg" Level="3">
  <Info>
    <Parent Key="9b9eb645-792a-4b16-b149-cb2d81bb90e7">patientportalimages</Parent>
    <Path>/Images/patientportalimages/forumimg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-29T18:04:17</CreateDate>
    <NodeName Default="forumimg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wtfmaqek/forumimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>