<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0e88aad-310f-4b48-bd00-a4882ec6aafe" Alias="Groundmarker" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Groundmarker</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-03T20:01:54</CreateDate>
    <NodeName Default="Groundmarker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vofor2ap/groundmarker.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>