<?xml version="1.0" encoding="utf-8"?>
<Media Key="c16286e0-b7c7-444f-86db-7ec7e3703deb" Alias="Groundmarker" Level="2">
  <Info>
    <Parent Key="1ff72fa9-b6e0-4bd2-bf68-4cd6378aed91">Images</Parent>
    <Path>/Images/Groundmarker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-03T18:12:53</CreateDate>
    <NodeName Default="Groundmarker" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/20dgfqoh/groundmarker.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>