<?xml version="1.0" encoding="utf-8"?>
<Media Key="7adbb277-c54b-4432-8686-a7f177c27030" Alias="GuidelinesImg" Level="3">
  <Info>
    <Parent Key="8b1d4a1c-c319-4707-8a15-30d075a9ae83">HomePageImages</Parent>
    <Path>/Images/HomePageImages/GuidelinesImg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-29T18:40:42</CreateDate>
    <NodeName Default="GuidelinesImg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ogznw4sl/guidelinesimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>