<?xml version="1.0" encoding="utf-8"?>
<Media Key="e30990b8-5327-4aaa-a871-2351d53130e0" Alias="Healthyheartimg (2)" Level="3">
  <Info>
    <Parent Key="9b9eb645-792a-4b16-b149-cb2d81bb90e7">patientportalimages</Parent>
    <Path>/Images/patientportalimages/Healthyheartimg2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-23T13:22:36</CreateDate>
    <NodeName Default="Healthyheartimg (2)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x0iatyzh/healthyheartimg-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>