<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4dc9635-fb6d-48c0-8a84-f84e59598620" Alias="Healthyheartimg (1)" Level="2">
  <Info>
    <Parent Key="1ff72fa9-b6e0-4bd2-bf68-4cd6378aed91">Images</Parent>
    <Path>/Images/Healthyheartimg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-23T13:49:46</CreateDate>
    <NodeName Default="Healthyheartimg (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/golnzzdn/healthyheartimg-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>