<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f3cbf47-b1fd-4806-b4e0-608e27116cca" Alias="HeartAttack" Level="3">
  <Info>
    <Parent Key="2895bd07-33fd-4569-a633-518f96c5098f">GeneralInformationImages</Parent>
    <Path>/Images/GeneralInformationImages/HeartAttack</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-29T19:26:09</CreateDate>
    <NodeName Default="HeartAttack" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ig5dzd53/heartattack.png",
  "focalPoint": {
    "left": 0.46838998525623643,
    "top": 0.3704980409095484
  },
  "crops": [
    {
      "alias": "GeneralInformationImageCropper",
      "coordinates": {
        "x1": 0.08482247919964164,
        "y1": 0,
        "x2": 0.13663080799759014,
        "y2": 0.0003844675124950631
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>