<?xml version="1.0" encoding="utf-8"?>
<Media Key="d67a7394-3c30-41d0-9d18-c7a123b17fe7" Alias="Hearfailureimg" Level="3">
  <Info>
    <Parent Key="2895bd07-33fd-4569-a633-518f96c5098f">GeneralInformationImages</Parent>
    <Path>/Images/GeneralInformationImages/Hearfailureimg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-23T14:04:40</CreateDate>
    <NodeName Default="Hearfailureimg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sjzhvvrq/hearfailureimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>