<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf57988d-639c-4391-b019-c3a6f34a243c" Alias="HeartFailure" Level="2">
  <Info>
    <Parent Key="1ff72fa9-b6e0-4bd2-bf68-4cd6378aed91">Images</Parent>
    <Path>/Images/HeartFailure</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-08T11:57:31</CreateDate>
    <NodeName Default="HeartFailure" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/romfpt22/heartfailure.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>