<?xml version="1.0" encoding="utf-8"?>
<Media Key="cab8adbe-4299-4a4a-b30c-f1e8c881887b" Alias="Heartattackimg" Level="3">
  <Info>
    <Parent Key="9b9eb645-792a-4b16-b149-cb2d81bb90e7">patientportalimages</Parent>
    <Path>/Images/patientportalimages/Heartattackimg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-29T22:25:03</CreateDate>
    <NodeName Default="Heartattackimg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xcwlrsuz/heartattackimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>