<?xml version="1.0" encoding="utf-8"?>
<Media Key="45974fe7-aa78-4813-8ebc-960c8efd1638" Alias="Heartattack (1)" Level="3">
  <Info>
    <Parent Key="9b9eb645-792a-4b16-b149-cb2d81bb90e7">patientportalimages</Parent>
    <Path>/Images/patientportalimages/Heartattack1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-29T22:17:36</CreateDate>
    <NodeName Default="Heartattack (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2fhjorly/heartattack-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>