<?xml version="1.0" encoding="utf-8"?>
<Media Key="03392355-c189-4c2e-b0fc-bb0b4a300e9e" Alias="Hearfailureimg" Level="3">
  <Info>
    <Parent Key="9b9eb645-792a-4b16-b149-cb2d81bb90e7">patientportalimages</Parent>
    <Path>/Images/patientportalimages/Hearfailureimg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-29T22:25:26</CreateDate>
    <NodeName Default="Hearfailureimg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kmrdsa2j/hearfailureimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>