<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b1d4a1c-c319-4707-8a15-30d075a9ae83" Alias="HomePageImages" Level="2">
  <Info>
    <Parent Key="1ff72fa9-b6e0-4bd2-bf68-4cd6378aed91">Images</Parent>
    <Path>/Images/HomePageImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-10-29T18:38:43</CreateDate>
    <NodeName Default="HomePageImages" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>