<?xml version="1.0" encoding="utf-8"?>
<Media Key="271b9fd7-7581-40a9-a092-b1677cf73a54" Alias="Journey - Magnet" Level="3">
  <Info>
    <Parent Key="150e6983-3999-4f46-b75e-923d76c36fd5">Customer Journey</Parent>
    <Path>/uMarketingSuite/CustomerJourney/JourneyMagnet</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Journey - Magnet" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0gpbwj2b/journey-magnet.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>