<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5ede53f-bc2a-49f4-b2b2-9025c96a2470" Alias="Journey - Alternative Route" Level="3">
  <Info>
    <Parent Key="150e6983-3999-4f46-b75e-923d76c36fd5">Customer Journey</Parent>
    <Path>/uMarketingSuite/CustomerJourney/JourneyAlternativeRoute</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Journey - Alternative Route" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hhsp1zjk/journey-alternative-route.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>