<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9066972-2171-4342-98f6-79a61ea6e9dc" Alias="Journey - Basket" Level="3">
  <Info>
    <Parent Key="a88e8b21-34fb-4814-8d67-ace211980305">Customer Journey</Parent>
    <Path>/uMarketingSuite/CustomerJourney/JourneyBasket</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:24</CreateDate>
    <NodeName Default="Journey - Basket" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/orubnolr/journey-basket.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>