<?xml version="1.0" encoding="utf-8"?>
<Media Key="2473316b-8882-4fca-8bb1-753d51584a27" Alias="Journey - Graph" Level="3">
  <Info>
    <Parent Key="a88e8b21-34fb-4814-8d67-ace211980305">Customer Journey</Parent>
    <Path>/uMarketingSuite/CustomerJourney/JourneyGraph</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Journey - Graph" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nuyhgjec/journey-graph.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>