<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b4fb439-f5ed-41d9-bb1e-70d7a0e7fad5" Alias="Journey - Alternative Route" Level="3">
  <Info>
    <Parent Key="a88e8b21-34fb-4814-8d67-ace211980305">Customer Journey</Parent>
    <Path>/uMarketingSuite/CustomerJourney/JourneyAlternativeRoute</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:24</CreateDate>
    <NodeName Default="Journey - Alternative Route" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h40e445n/journey-alternative-route.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>