<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca839b47-a148-477b-8d5f-bad2b314a294" Alias="Journey - Idea" Level="3">
  <Info>
    <Parent Key="a88e8b21-34fb-4814-8d67-ace211980305">Customer Journey</Parent>
    <Path>/uMarketingSuite/CustomerJourney/JourneyIdea</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Journey - Idea" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ignjhssi/journey-idea.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>