<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a3d8e39-90da-40fb-a3c9-c7d3c24df9a0" Alias="Journey - Money" Level="3">
  <Info>
    <Parent Key="150e6983-3999-4f46-b75e-923d76c36fd5">Customer Journey</Parent>
    <Path>/uMarketingSuite/CustomerJourney/JourneyMoney</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Journey - Money" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h4hd0gw0/journey-money.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>