<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2524a5a-8d6d-475b-9d23-f716964be20d" Alias="Male 2" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Male2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Male 2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lrfffitn/male-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>