<?xml version="1.0" encoding="utf-8"?>
<Media Key="37b757d7-614c-4873-8a6f-0c724c331885" Alias="Male 1" Level="3">
  <Info>
    <Parent Key="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Male1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Male 1" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0fllon0m/male-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>