<?xml version="1.0" encoding="utf-8"?>
<Media Key="82538b8f-42b4-4cc0-92fb-8b9aab849ed8" Alias="Male 8" Level="103">
  <Info>
    <Parent Key="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">Persona</Parent>
    <Path>/[-21]/uMarketingSuite/Persona/Male8</Path>
    <Trashed Parent="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Male 8" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rgffhavu/male-8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>