<?xml version="1.0" encoding="utf-8"?>
<Media Key="8304b808-6a7b-45d3-9512-afe14ba60a60" Alias="Male 5" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Male5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Male 5" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b02aja11/male-5.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>