<?xml version="1.0" encoding="utf-8"?>
<Media Key="a150bd4b-526d-4006-8ed9-01ddb151ff4d" Alias="Male 6" Level="103">
  <Info>
    <Parent Key="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">Persona</Parent>
    <Path>/[-21]/uMarketingSuite/Persona/Male6</Path>
    <Trashed Parent="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Male 6" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jw4fbiln/male-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>