<?xml version="1.0" encoding="utf-8"?>
<Media Key="feb86583-f85c-4b37-ad02-6ff2cd9c0a43" Alias="Male 4" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Male4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Male 4" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qvslr5s2/male-4.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>