<?xml version="1.0" encoding="utf-8"?>
<Media Key="698741aa-d7b6-4506-aa79-493836e3e4d1" Alias="Male 8" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Male8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:38</CreateDate>
    <NodeName Default="Male 8" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vrajo0nw/male-8.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>