<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bd6e863-0a13-4324-8005-b670cb361706" Alias="Male 1" Level="3">
  <Info>
    <Parent Key="1dc6fae3-763f-44ed-80a9-e38c21c67282">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Male1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="Male 1" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mxunmkyt/male-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>