<?xml version="1.0" encoding="utf-8"?>
<Media Key="09337cd3-5019-4443-af83-9784da25b844" Alias="Male 3" Level="3">
  <Info>
    <Parent Key="f529c8bb-9d8c-4447-81cc-d4542d3c4b46">Persona</Parent>
    <Path>/uMarketingSuite/Persona/Male3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Male 3" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0v4dgciz/male-3.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>