<?xml version="1.0" encoding="utf-8"?>
<Media Key="8746631f-14b0-4e87-8992-a92525ffc082" Alias="My Project" Level="3">
  <Info>
    <Parent Key="9b9eb645-792a-4b16-b149-cb2d81bb90e7">patientportalimages</Parent>
    <Path>/Images/patientportalimages/MyProject</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-29T22:19:56</CreateDate>
    <NodeName Default="My Project" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dfrfnb3q/my-project.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>