<?xml version="1.0" encoding="utf-8"?>
<Media Key="37505f96-d96b-428d-9cc2-b1bdf6f45418" Alias="nursingRoster (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/nursingRoster1</Path>
    <Trashed Parent="ddffcba5-b40f-4c95-8766-a4e76ae95cbc">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-11-13T22:11:12</CreateDate>
    <NodeName Default="nursingRoster (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rzpfan1l/nurseroster.csv]]></Value>
    </umbracoFile>
  </Properties>
</Media>