<?xml version="1.0" encoding="utf-8"?>
<Media Key="54cd9e9b-fd5a-4a13-b2ea-11d0479fde35" Alias="NursingRoster" Level="2">
  <Info>
    <Parent Key="ddffcba5-b40f-4c95-8766-a4e76ae95cbc">NurseRosteringFiles</Parent>
    <Path>/NurseRosteringFiles/NursingRoster</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-11-13T21:47:32</CreateDate>
    <NodeName Default="NursingRoster" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qopm0vc0/nurseroster.csv]]></Value>
    </umbracoFile>
  </Properties>
</Media>