<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec109125-7db2-4ea9-bbf7-2893461c4173" Alias="P1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/P1</Path>
    <Trashed Parent="43a4c84d-a2d9-40e9-8f61-3a2f8cca7e10">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-10T13:30:35</CreateDate>
    <NodeName Default="P1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eoibb1fs/p1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>