<?xml version="1.0" encoding="utf-8"?>
<Media Key="99b7a7d6-09a2-4496-9387-c996cd28beb4" Alias="P2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/P2</Path>
    <Trashed Parent="43a4c84d-a2d9-40e9-8f61-3a2f8cca7e10">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-10T13:30:49</CreateDate>
    <NodeName Default="P2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0ctlpgnc/p2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>