<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b9eb645-792a-4b16-b149-cb2d81bb90e7" Alias="patientportalimages" Level="2">
  <Info>
    <Parent Key="1ff72fa9-b6e0-4bd2-bf68-4cd6378aed91">Images</Parent>
    <Path>/Images/patientportalimages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-10-29T18:38:52</CreateDate>
    <NodeName Default="patientportalimages" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>