<?xml version="1.0" encoding="utf-8"?>
<Media Key="f529c8bb-9d8c-4447-81cc-d4542d3c4b46" Alias="Persona" Level="2">
  <Info>
    <Parent Key="b712f0cf-7da6-4f6e-8568-10ca384b6c48">uMarketingSuite</Parent>
    <Path>/uMarketingSuite/Persona</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-27T18:00:25</CreateDate>
    <NodeName Default="Persona" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>