<?xml version="1.0" encoding="utf-8"?>
<Media Key="43a4c84d-a2d9-40e9-8f61-3a2f8cca7e10" Alias="Portrait" Level="2">
  <Info>
    <Parent Key="1ff72fa9-b6e0-4bd2-bf68-4cd6378aed91">Images</Parent>
    <Path>/Images/Portrait</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-12-10T13:30:06</CreateDate>
    <NodeName Default="Portrait" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>