<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e94e5ac-492b-47a5-93a7-1f2b7fbab9bc" Alias="rosterimg" Level="3">
  <Info>
    <Parent Key="9b9eb645-792a-4b16-b149-cb2d81bb90e7">patientportalimages</Parent>
    <Path>/Images/patientportalimages/rosterimg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-29T18:06:03</CreateDate>
    <NodeName Default="rosterimg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vlsjjhrl/rosterimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>