<?xml version="1.0" encoding="utf-8"?>
<Media Key="daa60675-eb06-445f-9378-7e6ae06bc8b7" Alias="Shutterstock 560367070" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Shutterstock560367070</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Shutterstock 560367070" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/omdknwqg/shutterstock_560367070.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>