<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffcf9948-faf6-4d87-bdf7-a3e5cb3814ac" Alias="surveyimg" Level="3">
  <Info>
    <Parent Key="9b9eb645-792a-4b16-b149-cb2d81bb90e7">patientportalimages</Parent>
    <Path>/Images/patientportalimages/surveyimg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-29T18:04:58</CreateDate>
    <NodeName Default="surveyimg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j0mn555w/surveyimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>