<?xml version="1.0" encoding="utf-8"?>
<Media Key="b712f0cf-7da6-4f6e-8568-10ca384b6c48" Alias="uMarketingSuite" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/uMarketingSuite</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-27T18:00:24</CreateDate>
    <NodeName Default="uMarketingSuite" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>