<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a0d44dc-369f-46af-a09c-d0d30e708ba2" Alias="uMarketingSuite" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/uMarketingSuite</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-23T22:53:37</CreateDate>
    <NodeName Default="uMarketingSuite" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>