<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9962b88-c85f-4c67-ae7b-ebccefe41336" Alias="Active Topics" Level="2">
  <Info>
    <Parent Key="6e08726b-67b8-41f5-994f-f46a451b15e5">Forums</Parent>
    <Path>/Forums/ActiveTopics</Path>
    <Trashed>false</Trashed>
    <ContentType>activeTopics</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Active Topics" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce63bc62-2361-4718-a08e-7bf90a4d342d">ActiveTopics</Template>
  </Info>
  <Properties>
    <intPageSize>
      <Value><![CDATA[25]]></Value>
    </intPageSize>
    <title>
      <Value><![CDATA[Active Topics]]></Value>
    </title>
  </Properties>
</Content>