<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ff99663-e3e0-4e6d-8666-788255fd2301" Alias="Admin Dashboard" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/AdminDashboard</Path>
    <Trashed>false</Trashed>
    <ContentType>adminDashboard</ContentType>
    <CreateDate>2022-12-16T09:08:57</CreateDate>
    <NodeName Default="Admin Dashboard" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7bb3620a-4efa-49f7-9dce-dafda8386d64">AdminDashboard</Template>
  </Info>
  <Properties />
</Content>