<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cb1e3fb-6061-439a-829b-3dbd76f9a931" Alias="Change Password" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/ChangePassword</Path>
    <Trashed>false</Trashed>
    <ContentType>changePasswordPage</ContentType>
    <CreateDate>2022-10-22T10:59:21</CreateDate>
    <NodeName Default="Change Password" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cf895081-e9e3-4f42-86f3-a3996105ff3d">ChangePassword</Template>
  </Info>
  <Properties />
</Content>