<?xml version="1.0" encoding="utf-8"?>
<Content Key="456a1287-d928-4251-a8b6-e883e5c81881" Alias="Clinician &amp; Committee Register" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/ClinicianCommitteeRegister</Path>
    <Trashed>false</Trashed>
    <ContentType>clinicianCommitteeSignUp</ContentType>
    <CreateDate>2022-12-16T09:18:26</CreateDate>
    <NodeName Default="Clinician &amp; Committee Register" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e9771874-308e-4c30-88f6-07f4eb0b6199">ClinicianCommitteeRegister</Template>
  </Info>
  <Properties>
    <clinicianCommitteeRegister>
      <Value><![CDATA[<?UMBRACO_MACRO macroAlias="ClinicianCommitteeRegister" />
<p> </p>]]></Value>
    </clinicianCommitteeRegister>
  </Properties>
</Content>