<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8657205-35ad-4207-8024-a3abe9345c85" Alias="CliniciansPortal" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CliniciansPortal</Path>
    <Trashed Parent="ca65b098-65b3-4d43-85e8-80b23b48978d">true</Trashed>
    <ContentType>cliniciansPage</ContentType>
    <CreateDate>2022-10-22T15:28:50</CreateDate>
    <NodeName Default="CliniciansPortal" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>