<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2c2d197-724b-4a59-9153-eab54f435c12" Alias="ClinicianPortal" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/ClinicianPortal</Path>
    <Trashed>false</Trashed>
    <ContentType>cliniciansPage</ContentType>
    <CreateDate>2022-12-16T08:56:33</CreateDate>
    <NodeName Default="ClinicianPortal" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="284e3fdf-09d8-4812-b307-99df99022a5f">CliniciansPage</Template>
  </Info>
  <Properties />
</Content>