<?xml version="1.0" encoding="utf-8"?>
<Content Key="2327a799-ea3f-4eac-b8c8-366870977326" Alias="Clinical Research" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/ClinicalResearch</Path>
    <Trashed>false</Trashed>
    <ContentType>clinicalResearchPage</ContentType>
    <CreateDate>2022-10-09T21:38:34</CreateDate>
    <NodeName Default="Clinical Research" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee93459b-3321-409b-9887-192be5f6a928">ClinicalResearchPage</Template>
  </Info>
  <Properties />
</Content>