<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8657205-35ad-4207-8024-a3abe9345c85" Alias="CliniciansPortal" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/CliniciansPortal</Path>
    <Trashed>false</Trashed>
    <ContentType>cliniciansPage</ContentType>
    <CreateDate>2022-10-22T15:28:50</CreateDate>
    <NodeName Default="CliniciansPortal" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>