<?xml version="1.0" encoding="utf-8"?>
<Content Key="6dae2c35-a80b-4730-b05a-6e06f3144e5a" Alias="Discussion Forum" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/DiscussionForum</Path>
    <Trashed>false</Trashed>
    <ContentType>discussionForum</ContentType>
    <CreateDate>2022-10-09T21:38:07</CreateDate>
    <NodeName Default="Discussion Forum" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d82186d0-1dad-450d-b433-445eabdb25d7">DiscussionForum</Template>
  </Info>
  <Properties />
</Content>