<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e08726b-67b8-41f5-994f-f46a451b15e5" Alias="Forums" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Forums</Path>
    <Trashed>false</Trashed>
    <ContentType>forum</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Forums" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98f9fbc4-a244-4567-b3bd-2dc9f6213e9f">Forum</Template>
  </Info>
  <Properties>
    <allowImages>
      <Value><![CDATA[1]]></Value>
    </allowImages>
    <canPostGroup>
      <Value><![CDATA[]]></Value>
    </canPostGroup>
    <canViewGroup>
      <Value><![CDATA[]]></Value>
    </canViewGroup>
    <forumDescription>
      <Value><![CDATA[<p>Thank you for installing the MediaWizards forum package. We hope you enjoy this great tool to support your organization!</p>
<p>Many thanks go out to <a>Kevin Jump</a> for the original source code and to all the members of Our Umbraco at <a>http://our.umbraco.com/forum</a> for helping to test.</p>]]></Value>
    </forumDescription>
    <forumTitle>
      <Value><![CDATA[MediaWizards Forums for Umbraco]]></Value>
    </forumTitle>
    <intPageSize>
      <Value><![CDATA[10]]></Value>
    </intPageSize>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <membersOnly>
      <Value><![CDATA[0]]></Value>
    </membersOnly>
    <postAtRoot>
      <Value><![CDATA[0]]></Value>
    </postAtRoot>
  </Properties>
</Content>