<?xml version="1.0" encoding="utf-8"?>
<Content Key="a72518c4-f986-4347-8df2-a988b817b009" Alias="General Information" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/GeneralInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>generalInformation</ContentType>
    <CreateDate>2022-08-28T17:42:05</CreateDate>
    <NodeName Default="General Information">
      <Name Culture="en-us">General Information</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="606e8ae5-f714-4724-8590-e95ada706e58">GeneralInfoPage</Template>
  </Info>
  <Properties>
    <generalInfoImageCropper>
      <Value Culture="en-us"><![CDATA[{
  "src": "/media/sokg1135/heartattack.png",
  "focalPoint": {
    "left": 0.48217042604392624,
    "top": 0.48700587110102905
  },
  "crops": [
    {
      "alias": "GeneralInformationImageCropper",
      "coordinates": {
        "x1": 0.09273180523180512,
        "y1": 0,
        "x2": 0.12842204092204088,
        "y2": 0
      }
    }
  ]
}]]></Value>
    </generalInfoImageCropper>
    <genInfoTitle>
      <Value Culture="en-us"><![CDATA[General Information]]></Value>
    </genInfoTitle>
    <infoLayout>
      <Value Culture="en-us"><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "19f66d4e-ad05-48a8-b018-e279b1b57ac7",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<h1 style=\"text-align: center;\"><span style=\"text-decoration: underline; color: red;\"><strong>General Information</strong></span></h1>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "4cols",
          "id": "0fff0410-b627-4f55-a48b-e02d36f6394c",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 3067,
                    "udi": "umb://media/cab8adbe42994a4ab30cf1e8c881887b",
                    "image": "/media/xcwlrsuz/heartattackimg.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<h4 class=\"subtitle-2\">What is Heart Attack?</h4>\n<p class=\"def-text\">The most common cause of a heart attack is coronary heart disease. This occurs when the coronary artery, which supplies blood to your heart, narrows because of a build-up of plaque. Plaque is made of fat, cholesterol and other materials. The narrowed artery causes a reduced amount of blood flow to your heart muscle.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": {},
              "config": {
                "data-custom": "value_3"
              }
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 3068,
                    "udi": "umb://media/03392355c1894c2eb0fcbb0b4a300e9e",
                    "image": "/media/kmrdsa2j/hearfailureimg.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<h4 class=\"subtitle-2\">What is Heart Failure?</h4>\n<p class=\"def-text\">Heart failure occurs when the heart muscle doesn't pump blood as well as it should. Blood often backs up and causes fluid to build up in the lungs (congest) and in the legs. The fluid buildup can cause shortness of breath and swelling of the legs and feet. Poor blood flow may cause the skin to appear blue (cyanotic)</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": {},
              "config": {}
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 3070,
                    "udi": "umb://media/1d512ad39ce045e5b1717826fecf6f80",
                    "image": "/media/0uvfchpa/healthyheartimg.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<h4 class=\"subtitle-2\">How Can You Prevent Heart Failure?</h4>\n<p class=\"def-text\">In many cases, you can significantly reduce your risk of heart failure by improving your lifestyle choices. Here are a few things you can do to help reduce your risk:</p>\n<ul>\n<li><strong>Eat well.</strong> See the Heart Foundation’s healthy eating tips, recipes and information to help protect your heart</li>\n<li><strong>Exercise regularly.</strong> Learn more about how much exercise you need, how to build more activity into your day-to-day life and more</li>\n<li><strong>Stop smoking.</strong> Talk to your doctor today about quitting smoking</li>\n</ul>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </infoLayout>
  </Properties>
</Content>