<?xml version="1.0" encoding="utf-8"?>
<Content Key="a72518c4-f986-4347-8df2-a988b817b009" Alias="General Information" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/GeneralInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>generalInformation</ContentType>
    <CreateDate>2022-08-28T17:42:05</CreateDate>
    <NodeName Default="General Information" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="606e8ae5-f714-4724-8590-e95ada706e58">GeneralInfoPage</Template>
  </Info>
  <Properties>
    <genInfoTitle>
      <Value><![CDATA[]]></Value>
    </genInfoTitle>
  </Properties>
</Content>