<?xml version="1.0" encoding="utf-8"?>
<Content Key="a72518c4-f986-4347-8df2-a988b817b009" Alias="General Information" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/GeneralInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>generalInformation</ContentType>
    <CreateDate>2022-08-28T17:42:05</CreateDate>
    <NodeName Default="General Information">
      <Name Culture="en-us">General Information</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="606e8ae5-f714-4724-8590-e95ada706e58">GeneralInfoPage</Template>
  </Info>
  <Properties>
    <genInfoTitle>
      <Value Culture="en-us"><![CDATA[General Information]]></Value>
    </genInfoTitle>
    <infoLayout>
      <Value Culture="en-us"><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "4cols",
          "id": "0fff0410-b627-4f55-a48b-e02d36f6394c",
          "areas": [
            {
              "grid": "3",
              "controls": [
                {
                  "value": "<p>Some Article here</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "3",
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Some Article here</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "3",
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "Some article here",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "3",
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "some article here again",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </infoLayout>
  </Properties>
</Content>