<?xml version="1.0" encoding="utf-8"?>
<Content Key="65a8a9dd-ba6a-44af-8e78-439ac6295404" Alias="General Info" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GeneralInfo</Path>
    <Trashed Parent="a72518c4-f986-4347-8df2-a988b817b009">true</Trashed>
    <ContentType>generalInformation</ContentType>
    <CreateDate>2022-09-03T19:45:30</CreateDate>
    <NodeName Default="General Info">
      <Name Culture="en-us">General Info</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <genInfoTitle>
      <Value><![CDATA[]]></Value>
    </genInfoTitle>
    <infoLayout>
      <Value Culture="en-us"><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "4cols",
          "id": "40801aa1-e9cc-4742-b8f6-4890d8d3207c",
          "areas": [
            {
              "grid": "3",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "3",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "3",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "3",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </infoLayout>
  </Properties>
</Content>