<?xml version="1.0" encoding="utf-8"?>
<Content Key="09823e71-bf53-4d7e-8889-81b79fd4c885" Alias="General Info (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GeneralInfo1</Path>
    <Trashed Parent="ca65b098-65b3-4d43-85e8-80b23b48978d">true</Trashed>
    <ContentType>generalInformation</ContentType>
    <CreateDate>2022-09-03T18:25:11</CreateDate>
    <NodeName Default="General Info (1)">
      <Name Culture="en-us">General Info (1)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="606e8ae5-f714-4724-8590-e95ada706e58">GeneralInfoPage</Template>
  </Info>
  <Properties>
    <genInfoTitle>
      <Value><![CDATA[]]></Value>
    </genInfoTitle>
    <infoLayout>
      <Value><![CDATA[]]></Value>
    </infoLayout>
  </Properties>
</Content>