<?xml version="1.0" encoding="utf-8"?>
<Content Key="09823e71-bf53-4d7e-8889-81b79fd4c885" Alias="General Info" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/GeneralInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>generalInformation</ContentType>
    <CreateDate>2022-09-03T18:25:11</CreateDate>
    <NodeName Default="General Info">
      <Name Culture="en-us">General Info</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="606e8ae5-f714-4724-8590-e95ada706e58">GeneralInfoPage</Template>
  </Info>
  <Properties>
    <genInfoTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </genInfoTitle>
    <infoLayout>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </infoLayout>
  </Properties>
</Content>