<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8cebb06-4cfd-4804-a8ff-7cbac33bc4e0" Alias="GeneralInfo" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GeneralInfo</Path>
    <Trashed Parent="ca65b098-65b3-4d43-85e8-80b23b48978d">true</Trashed>
    <ContentType>generalInformation</ContentType>
    <CreateDate>2022-09-03T19:46:42</CreateDate>
    <NodeName Default="GeneralInfo">
      <Name Culture="en-us">GeneralInfo</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <genInfoTitle>
      <Value><![CDATA[]]></Value>
    </genInfoTitle>
    <infoLayout>
      <Value Culture="en-us"><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article",
          "id": "026d684d-afb5-4db1-805e-001af491cf80",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "media",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<p>some text</p>",
                  "editor": {
                    "alias": "rte",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </infoLayout>
  </Properties>
</Content>