<?xml version="1.0" encoding="utf-8"?>
<Content Key="b88f2e3d-4fd4-45de-9d47-ac55321ee157" Alias="Guidelines" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/Guidelines</Path>
    <Trashed>false</Trashed>
    <ContentType>guidelines</ContentType>
    <CreateDate>2022-10-09T21:38:47</CreateDate>
    <NodeName Default="Guidelines" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="672a230e-5a0b-4602-bac9-b169142942f9">GuidelinesPage</Template>
  </Info>
  <Properties />
</Content>