<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca65b098-65b3-4d43-85e8-80b23b48978d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-08-24T21:02:41</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="31913862-b9dc-40ea-8c2a-a89973f2ef23">HomePage</Template>
  </Info>
  <Properties>
    <homeTitle>
      <Value><![CDATA[Home Page]]></Value>
    </homeTitle>
  </Properties>
</Content>