<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ee78236-b16f-447c-827a-589f7a9d6cd7" Alias="HomePage2" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/HomePage2</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage2</ContentType>
    <CreateDate>2022-10-01T19:32:02</CreateDate>
    <NodeName Default="HomePage2" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4fd3d2d3-2e9e-4617-a59b-acefd833e25f">Homepage2</Template>
  </Info>
  <Properties />
</Content>