<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab24876f-01a9-451b-82a5-874491ce747a" Alias="Latest News" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/LatestNews</Path>
    <Trashed>false</Trashed>
    <ContentType>latestNews</ContentType>
    <CreateDate>2022-10-09T21:39:00</CreateDate>
    <NodeName Default="Latest News" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ff7404cf-00b0-4b07-a606-7517ab06d61f">LatestNewsPage</Template>
  </Info>
  <Properties />
</Content>