<?xml version="1.0" encoding="utf-8"?>
<Content Key="3824182c-8609-4a72-9a38-38d6794ee76d" Alias="Log In" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/LogIn</Path>
    <Trashed>false</Trashed>
    <ContentType>signIn</ContentType>
    <CreateDate>2022-08-28T17:42:38</CreateDate>
    <NodeName Default="Log In">
      <Name Culture="en-us">Log In</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="2d46f0d5-b828-4766-b2e1-26d7d3189166">SignInPage</Template>
  </Info>
  <Properties>
    <logIn>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </logIn>
    <loginCredentials>
      <Value Culture="en-us"><![CDATA[<?UMBRACO_MACRO macroAlias="LogIn" />]]></Value>
    </loginCredentials>
  </Properties>
</Content>