<?xml version="1.0" encoding="utf-8"?>
<Content Key="db6422b9-ce53-4fb7-aefb-96e66a4404d4" Alias="Login" Level="3">
  <Info>
    <Parent Key="d77b7ba5-943c-497e-90c0-601a2d7af388">Membership</Parent>
    <Path>/Forums/Membership/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <message>
      <Value><![CDATA[<p>Don't have an account? You can register for one <a href="/register" title="Register">here</a></p>
<p> </p>]]></Value>
    </message>
    <title>
      <Value><![CDATA[Forum Login]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[login,forum/login]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>