<?xml version="1.0" encoding="utf-8"?>
<Content Key="d77b7ba5-943c-497e-90c0-601a2d7af388" Alias="Membership" Level="2">
  <Info>
    <Parent Key="6e08726b-67b8-41f5-994f-f46a451b15e5">Forums</Parent>
    <Path>/Forums/Membership</Path>
    <Trashed>false</Trashed>
    <ContentType>forumAuthHolder</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Membership" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <message>
      <Value><![CDATA[]]></Value>
    </message>
    <title>
      <Value><![CDATA[Membership Holder page, does not do anything.]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>