<?xml version="1.0" encoding="utf-8"?>
<Content Key="f04412c7-6162-428e-8d44-e0ebbdffb3e2" Alias="Members" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/Members</Path>
    <Trashed>false</Trashed>
    <ContentType>members</ContentType>
    <CreateDate>2022-08-30T16:03:39</CreateDate>
    <NodeName Default="Members">
      <Name Culture="en-us">Members</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3034b36f-b702-4c17-9232-4ae8d4f3065a">Members</Template>
  </Info>
  <Properties>
    <membersTitle>
      <Value Culture="en-us"><![CDATA[Members]]></Value>
    </membersTitle>
  </Properties>
</Content>