<?xml version="1.0" encoding="utf-8"?>
<Content Key="557f65c8-be5c-499f-bcce-9b7c5f451290" Alias="Nearby Services" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/NearbyServices</Path>
    <Trashed>false</Trashed>
    <ContentType>nearbyServices</ContentType>
    <CreateDate>2022-10-09T21:39:13</CreateDate>
    <NodeName Default="Nearby Services" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3efce951-3c29-4918-be41-89474b8d0b70">NearbyServices</Template>
  </Info>
  <Properties />
</Content>