<?xml version="1.0" encoding="utf-8"?>
<Content Key="557f65c8-be5c-499f-bcce-9b7c5f451290" Alias="Nearby Services" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/NearbyServices</Path>
    <Trashed>false</Trashed>
    <ContentType>nearbyServices</ContentType>
    <CreateDate>2022-10-09T21:39:13</CreateDate>
    <NodeName Default="Nearby Services">
      <Name Culture="en-us">Nearby Services</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3efce951-3c29-4918-be41-89474b8d0b70">NearbyServices</Template>
  </Info>
  <Properties>
    <servicesEditor>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "col",
          "id": "68ab7962-30fa-454c-b853-e5e3287364c7",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": "Service 1",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p style=\"text-align: left;\"><iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7780.078007225983!2d138.60089545787451!3d-34.92853097170477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0cf2987ac5dc3%3A0x8da8bd116386b102!2sAdelaide!5e0!3m2!1sen!2sau!4v1669242139660!5m2!1sen!2sau\" width=\"400\" height=\"450\" style=\"border: 0;\" allowfullscreen=\"\" loading=\"lazy\" referrerpolicy=\"no-referrer-when-downgrade\"></iframe></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "Service 2",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p style=\"text-align: left;\">  <iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22499.788788834165!2d137.57298593955665!3d-33.040308674158595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6abb5349d0d2d329%3A0x4033654628ed830!2sWhyalla%20SA!5e0!3m2!1sen!2sau!4v1669242189361!5m2!1sen!2sau\" width=\"400\" height=\"450\" style=\"border: 0;\" allowfullscreen=\"\" loading=\"lazy\" referrerpolicy=\"no-referrer-when-downgrade\"></iframe></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "col",
          "id": "cdc25cd5-6892-4f9e-aa72-90f8e82cbc08",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": "Service 3",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p><iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59965.7795587676!2d140.79481270740945!3d-37.82370211195863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xaa9e28a67fdc2fdf%3A0x5033654628efed0!2sMount%20Gambier%20SA%205290!5e0!3m2!1sen!2sau!4v1669242530429!5m2!1sen!2sau\" width=\"400\" height=\"450\" style=\"border: 0;\" allowfullscreen=\"\" loading=\"lazy\" referrerpolicy=\"no-referrer-when-downgrade\"></iframe></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "Service 4",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p><iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43908.10609624948!2d139.2854795150366!3d-35.11945597955481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab77488e2fec0b1%3A0x4033654628ed1f0!2sMurray%20Bridge%20SA!5e0!3m2!1sen!2sau!4v1669242585450!5m2!1sen!2sau\" width=\"400\" height=\"450\" style=\"border: 0;\" allowfullscreen=\"\" loading=\"lazy\" referrerpolicy=\"no-referrer-when-downgrade\"></iframe></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </servicesEditor>
  </Properties>
</Content>