<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c6bb49a-a708-4db0-9867-dae67df2b038" Alias="Patient Portal" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/PatientPortal</Path>
    <Trashed>false</Trashed>
    <ContentType>PatientPage</ContentType>
    <CreateDate>2022-09-26T13:23:42</CreateDate>
    <NodeName Default="Patient Portal">
      <Name Culture="en-us">Patient Portal</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="5ae98183-174f-4788-961d-f09fc2b8f758">PatientPage</Template>
  </Info>
  <Properties>
    <patientContent>
      <Value Culture="en-us"><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article",
          "id": "d422d3cf-e5ed-4998-959b-871e04bf6045",
          "areas": [
            {
              "grid": "4",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": "0.5",
                      "top": "0.5"
                    },
                    "id": "1252",
                    "udi": "umb://media/daa60675eb06445f93787e6ae06bc8b7",
                    "image": "/media/omdknwqg/shutterstock_560367070.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </patientContent>
    <registerUser>
      <Value><![CDATA[]]></Value>
    </registerUser>
  </Properties>
</Content>