<?xml version="1.0" encoding="utf-8"?>
<Content Key="9716a366-2aa7-44a0-b529-04b999883e61" Alias="Patient Portal" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/PatientPortal</Path>
    <Trashed>false</Trashed>
    <ContentType>PatientPage</ContentType>
    <CreateDate>2022-09-25T21:56:49</CreateDate>
    <NodeName Default="Patient Portal">
      <Name Culture="en-us">Patient Portal</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="edb0a6d2-446c-48d0-8097-372c831fd432">RegisteredUserPage</Template>
  </Info>
  <Properties>
    <registerUser>
      <Value><![CDATA[]]></Value>
    </registerUser>
  </Properties>
</Content>