<?xml version="1.0" encoding="utf-8"?>
<Content Key="05ef8472-d9eb-40b9-beb3-27ceca133244" Alias="Profile" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/Profile</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2022-10-22T15:28:26</CreateDate>
    <NodeName Default="Profile">
      <Name Culture="en-us">Profile</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="cbf8968d-f8cc-437d-8179-a2ff3ddfe8dc">Profile</Template>
  </Info>
  <Properties>
    <profileTexteditor>
      <Value><![CDATA[]]></Value>
    </profileTexteditor>
    <uploadFiles>
      <Value><![CDATA[]]></Value>
    </uploadFiles>
  </Properties>
</Content>