<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4000556-9a74-41d4-8d09-f5a11cf22919" Alias="Profile" Level="3">
  <Info>
    <Parent Key="d77b7ba5-943c-497e-90c0-601a2d7af388">Membership</Parent>
    <Path>/Forums/Membership/Profile</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Profile" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="406354c9-8ccf-4afb-87f6-ac824f86e676">Profile</Template>
  </Info>
  <Properties>
    <message>
      <Value><![CDATA[<p>If you change your email address an email will be sent to the new address to validate it is real, your account will be locked until you use the verification link.</p>]]></Value>
    </message>
    <title>
      <Value><![CDATA[Update your account.]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[profile,forum/profile]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>