<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d96ec77-ae97-4acb-a57c-cc184691fcb8" Alias="Register" Level="3">
  <Info>
    <Parent Key="d77b7ba5-943c-497e-90c0-601a2d7af388">Membership</Parent>
    <Path>/Forums/Membership/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>register</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="038d5418-14eb-478f-8caa-725d564b00b4">Register</Template>
  </Info>
  <Properties>
    <defaultMembership>
      <Value><![CDATA[1095]]></Value>
    </defaultMembership>
    <domainBlacklist>
      <Value><![CDATA[]]></Value>
    </domainBlacklist>
    <domainWhitelist>
      <Value><![CDATA[]]></Value>
    </domainWhitelist>
    <message>
      <Value><![CDATA[<p>Registration is not required to view current topics on the Forum; however, if you wish to post a new topic or reply to an existing topic registration is required. Registration is free and only takes a few minutes. The only required fields are your Username, which may be your real name or a nickname, and a valid email address.</p>
<p>The information you provide during registration is not outsourced or used for any advertising by us. If you believe someone is sending you advertisements as a result of the information you provided through your registration, please notify us immediately.</p>
<p> </p>]]></Value>
    </message>
    <title>
      <Value><![CDATA[Create a new account.]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[register,forum/register]]></Value>
    </umbracoUrlAlias>
    <useCaptcha>
      <Value><![CDATA[1]]></Value>
    </useCaptcha>
  </Properties>
</Content>