<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e645940-c2fb-4df8-b1bb-dcd2c00e978e" Alias="Reset" Level="3">
  <Info>
    <Parent Key="d77b7ba5-943c-497e-90c0-601a2d7af388">Membership</Parent>
    <Path>/Forums/Membership/Reset</Path>
    <Trashed>false</Trashed>
    <ContentType>reset</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Reset" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f81d1f8d-9c9e-4067-80e1-2495857f84df">Reset</Template>
  </Info>
  <Properties>
    <message>
      <Value><![CDATA[<p>An email will be sent to your email address to validate it is real, please use the link in the email to reset your password.</p>]]></Value>
    </message>
    <postMessage>
      <Value><![CDATA[<p>Please create a new password using the form below.</p>]]></Value>
    </postMessage>
    <title>
      <Value><![CDATA[Forgot your password?]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[forgotpassword,forums/forgotpassword]]></Value>
    </umbracoUrlAlias>
    <useCaptcha>
      <Value><![CDATA[1]]></Value>
    </useCaptcha>
  </Properties>
</Content>