<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8aca891-2080-4a11-a5de-ec206fa97f2c" Alias="Search" Level="2">
  <Info>
    <Parent Key="6e08726b-67b8-41f5-994f-f46a451b15e5">Forums</Parent>
    <Path>/Forums/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hideChildrenFromNav>
      <Value><![CDATA[0]]></Value>
    </hideChildrenFromNav>
    <intPageSize>
      <Value><![CDATA[25]]></Value>
    </intPageSize>
    <title>
      <Value><![CDATA[Search the Forums]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[forumsearch]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>