<?xml version="1.0" encoding="utf-8"?>
<Content Key="5911f08e-1da6-425c-bc4b-6c10acf4ac14" Alias="Settings" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2022-08-28T17:42:31</CreateDate>
    <NodeName Default="Settings">
      <Name Culture="en-us">Settings</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="f5aaff37-673a-4bd7-8fb7-50d5514c8f3c">SettingsPage</Template>
  </Info>
  <Properties>
    <settingsTitle>
      <Value><![CDATA[]]></Value>
    </settingsTitle>
  </Properties>
</Content>