<?xml version="1.0" encoding="utf-8"?>
<Content Key="788717c1-b4d1-43f2-9b4c-41fedc2e9e91" Alias="Sign Up" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/SignUp</Path>
    <Trashed>false</Trashed>
    <ContentType>signUp</ContentType>
    <CreateDate>2022-09-03T21:40:00</CreateDate>
    <NodeName Default="Sign Up" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c64c7092-1ab8-4aeb-8180-f8eaa93c53fa">SignUp</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Sign Up]]></Value>
    </pageTitle>
    <signUpIntro>
      <Value><![CDATA[<?UMBRACO_MACRO macroAlias="SignUp" />
<p> </p>]]></Value>
    </signUpIntro>
  </Properties>
</Content>