<?xml version="1.0" encoding="utf-8"?>
<Content Key="92ce2126-01dc-40ba-bca5-707a0eb73792" Alias="Survey" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/Survey</Path>
    <Trashed>false</Trashed>
    <ContentType>survey</ContentType>
    <CreateDate>2022-10-09T21:39:25</CreateDate>
    <NodeName Default="Survey" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0f7980dd-424e-4179-b4b8-a18fefab7976">SurveyPage</Template>
  </Info>
  <Properties />
</Content>