<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4a6ffeb-4858-46ff-8b5c-89c17502b598" Alias="Test_Grid" Level="2">
  <Info>
    <Parent Key="ca65b098-65b3-4d43-85e8-80b23b48978d">Home</Parent>
    <Path>/Home/Test_Grid</Path>
    <Trashed>false</Trashed>
    <ContentType>test_Grid</ContentType>
    <CreateDate>2022-10-20T12:15:28</CreateDate>
    <NodeName Default="Test_Grid" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfb1fc49-c2d0-4edf-954e-e182ba182d9c">Test_Grid</Template>
  </Info>
  <Properties>
    <test_Grid_Content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "8d7a5b1e-bd6b-4d9c-836a-58803cbb8142",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Test Heading",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisi turpis, semper mollis ex quis, vestibulum laoreet ligula. Nam justo arcu, suscipit quis ligula varius, tincidunt bibendum nisl. In tempus vestibulum porta. Donec in ante erat. Etiam tincidunt, arcu id faucibus gravida, orci velit egestas lacus, vitae ultricies magna libero vel est. Ut eget laoreet orci. Phasellus sodales pretium arcu, sit amet cursus ante volutpat et. Integer sed rutrum quam. Etiam ultrices auctor varius. Nulla vestibulum venenatis pellentesque. Vestibulum hendrerit posuere sem a mollis. Duis egestas justo vel elit sodales luctus tempor quis sem. Cras congue molestie enim, vitae consequat lectus. Ut auctor dapibus lectus, a malesuada massa eleifend maximus. Aenean eget odio eget dolor fringilla imperdiet.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "3 Column",
          "id": "452358eb-22e6-4a36-9871-28e2d59dc41c",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": "Block1",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisi turpis, semper mollis ex quis, vestibulum laoreet ligula. Nam justo arcu, suscipit quis ligula varius, tincidunt bibendum nisl. In tempus vestibulum porta.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": "Block2",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Ut eleifend magna erat, ac feugiat quam rutrum eu. Nulla elementum, lectus a vulputate condimentum, eros enim semper metus, et lacinia nunc justo mollis lorem. Nam quam felis, semper in nulla efficitur, blandit condimentum sapien.<span> </span></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": "Block3",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Suspendisse tempus tellus ac auctor fringilla. Nulla facilisi. Vivamus posuere lacus sed velit rhoncus, in rutrum diam accumsan. Mauris eget risus ultrices nulla dapibus fringilla ut non purus. Fusce non libero mauris. Sed felis arcu, semper eget mollis non, tempus vitae ex. In porta ante non efficitur aliquet. Proin venenatis non odio at tempus. Integer sagittis nibh quis mi condimentum convallis. Maecenas nec eros sed mauris venenatis dapibus. Cras urna nibh, egestas vitae aliquet quis, mattis mattis nibh. Phasellus vulputate tortor a magna auctor, id auctor libero elementum.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </test_Grid_Content>
  </Properties>
</Content>