<?xml version="1.0" encoding="utf-8"?>
<Content Key="0823dc89-42e9-4fcc-a2d6-dea2652c3496" Alias="Test Forum" Level="2">
  <Info>
    <Parent Key="6e08726b-67b8-41f5-994f-f46a451b15e5">Forums</Parent>
    <Path>/Forums/TestForum</Path>
    <Trashed>false</Trashed>
    <ContentType>forum</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Test Forum" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98f9fbc4-a244-4567-b3bd-2dc9f6213e9f">Forum</Template>
  </Info>
  <Properties>
    <allowImages>
      <Value><![CDATA[1]]></Value>
    </allowImages>
    <canPostGroup>
      <Value><![CDATA[]]></Value>
    </canPostGroup>
    <canViewGroup>
      <Value><![CDATA[]]></Value>
    </canViewGroup>
    <forumDescription>
      <Value><![CDATA[<p>This forum gives you a chance to become more familiar with how this product responds to different features and keeps testing in one place instead of posting tests all over. Happy Posting!</p>]]></Value>
    </forumDescription>
    <forumTitle>
      <Value><![CDATA[Test Forum]]></Value>
    </forumTitle>
    <hideChildrenFromNav>
      <Value><![CDATA[0]]></Value>
    </hideChildrenFromNav>
    <intPageSize>
      <Value><![CDATA[10]]></Value>
    </intPageSize>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <membersOnly>
      <Value><![CDATA[0]]></Value>
    </membersOnly>
    <postAtRoot>
      <Value><![CDATA[1]]></Value>
    </postAtRoot>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>