<?xml version="1.0" encoding="utf-8"?>
<Content Key="0af08352-b2b4-4075-9427-09ec354a86e0" Alias="Test topic" Level="3">
  <Info>
    <Parent Key="0823dc89-42e9-4fcc-a2d6-dea2652c3496">Test Forum</Parent>
    <Path>/Forums/TestForum/TestTopic</Path>
    <Trashed>false</Trashed>
    <ContentType>forumPost</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Test topic" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="39ad29cc-07bc-449f-83d3-de079466d587">ForumPost</Template>
  </Info>
  <Properties>
    <allowReplies>
      <Value><![CDATA[1]]></Value>
    </allowReplies>
    <deletedByAuthor>
      <Value><![CDATA[0]]></Value>
    </deletedByAuthor>
    <editDate>
      <Value><![CDATA[]]></Value>
    </editDate>
    <intPageSize>
      <Value><![CDATA[5]]></Value>
    </intPageSize>
    <postAuthor>
      <Value><![CDATA[]]></Value>
    </postAuthor>
    <postBody>
      <Value><![CDATA[<p>Just a dummy test post</p>]]></Value>
    </postBody>
    <postCreator>
      <Value><![CDATA[Administrator]]></Value>
    </postCreator>
    <postTitle>
      <Value><![CDATA[Testing topics]]></Value>
    </postTitle>
    <postType>
      <Value><![CDATA[1]]></Value>
    </postType>
    <stickiness>
      <Value><![CDATA[]]></Value>
    </stickiness>
  </Properties>
</Content>