<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbcd4837-bbb1-4d38-9818-3f3f5579595f" Alias="Verify" Level="3">
  <Info>
    <Parent Key="d77b7ba5-943c-497e-90c0-601a2d7af388">Membership</Parent>
    <Path>/Forums/Membership/Verify</Path>
    <Trashed>false</Trashed>
    <ContentType>verify</ContentType>
    <CreateDate>2022-09-23T22:42:59</CreateDate>
    <NodeName Default="Verify" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68bc8df3-7329-4bc0-b7b1-194ce5dafd87">Verify</Template>
  </Info>
  <Properties>
    <message>
      <Value><![CDATA[<p>Thank you for registering.</p>]]></Value>
    </message>
    <title>
      <Value><![CDATA[Email validation]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[verify, forums/verify]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>