<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:noNamespaceSchemaLocation="umarketingsuite.config.xsd">
  <Settings>
    <DatabaseConnectionStringName>umbracoDbDSN</DatabaseConnectionStringName>
    <Enabled>true</Enabled>
  </Settings>
  <Analytics>
    <VisitorCookie>
      <ExpirationInDays>365</ExpirationInDays>
      <CookieName>uMarketingSuiteAnalyticsVisitorId</CookieName>
      <IncludeSubdomains>false</IncludeSubdomains>
    </VisitorCookie>
    <DataCollection>
      <AnonymizeIPAddress>true</AnonymizeIPAddress>
      <ServersideTrackingEnabled>true</ServersideTrackingEnabled>
      <FlushRateInRecords>100</FlushRateInRecords>
      <FlushIntervalInSeconds>30</FlushIntervalInSeconds>
      <InternalSiteSearch>
        <AutomaticSearchTracking>true</AutomaticSearchTracking>
        <SearchTermParameters>
          <SearchTermParameter>q</SearchTermParameter>
        </SearchTermParameters>
        <SearchBoxParameters />
        <CategoryParameters />
      </InternalSiteSearch>
    </DataCollection>
    <DataStorage>
      <DeleteRawDataAfterDays>5</DeleteRawDataAfterDays>
    </DataStorage>
    <DataProcessing>
      <IntervalInRecords>100</IntervalInRecords>
      <IntervalInSeconds>30</IntervalInSeconds>
      <SessionLengthInMinutes>30</SessionLengthInMinutes>
      <AnonymizeDataAfterDays>730</AnonymizeDataAfterDays>
      <DeleteDataAfterDays>1460</DeleteDataAfterDays>
      <IsProcessingServer>true</IsProcessingServer>
    </DataProcessing>
    <DataCleanup>
      <StartAfterSeconds>300</StartAfterSeconds>
      <IntervalInSeconds>1800</IntervalInSeconds>
      <NumberOfRows>1000</NumberOfRows>
    </DataCleanup>
  </Analytics>
  <ABTesting>
    <MinimumPercentageForAdviceWithPredictedRuntime>25</MinimumPercentageForAdviceWithPredictedRuntime>
    <MinumumPercentageMacroGoalWarning>10</MinumumPercentageMacroGoalWarning>
    <ShareDataLevel>Minimum</ShareDataLevel>
  </ABTesting>
  <Profiles>
    <Potential>
      <ActiveThresholdInDays>30</ActiveThresholdInDays>
      <EngagedThresholdInSeconds>300</EngagedThresholdInSeconds>
      <EngagedThresholdNumberOfSessions>3</EngagedThresholdNumberOfSessions>
    </Potential>
    <Identification>
      <Name>{{name}}</Name>
      <Abbreviation>{{name[0]}}</Abbreviation>
      <ImagePropertyAlias>avatar</ImagePropertyAlias>
    </Identification>
  </Profiles>
  <Reporting>
    <DataGenerationEnabled>false</DataGenerationEnabled>
    <DataGenerationTime>04:00:00</DataGenerationTime>
  </Reporting>
</Configuration>