<?xml version="1.0" encoding="utf-8"?>
<Content Key="2508e4e7-2bf1-4bda-9580-bb1964136369" Alias="PatientPortal" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PatientPortal</Path>
    <Trashed>false</Trashed>
    <ContentType>PatientPage</ContentType>
    <CreateDate>2022-09-25T22:48:47</CreateDate>
    <NodeName Default="PatientPortal">
      <Name Culture="en-us">PatientPortal</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <patientContent>
      <Value Culture="en-us"><![CDATA[{
  "name": "2 column layout",
  "sections": [
    {
      "grid": "4",
      "rows": [
        {
          "name": "Headline",
          "id": "fa6bfba4-274e-4f1d-bd7f-75354a90a750",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    },
    {
      "grid": "8",
      "rows": [
        {
          "name": "4cols",
          "id": "97b150dd-c572-4240-b875-449b0360a021",
          "areas": [
            {
              "grid": "3",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": "0.5",
                      "top": "0.5"
                    },
                    "id": "1252",
                    "udi": "umb://media/daa60675eb06445f93787e6ae06bc8b7",
                    "image": "/media/omdknwqg/shutterstock_560367070.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "3",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "3",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "3",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </patientContent>
    <registerUser>
      <Value><![CDATA[]]></Value>
    </registerUser>
  </Properties>
</Content>